### US Companies ###
### Martín Gonella y Maximiliano Armesto
Ahora se procederá a aplicar algoritmos de clustering explorando los parámetros con el objetivo de agrupar los datos en grupos por compañía.

In [5]:
import json
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn.model_selection import ParameterGrid
from sklearn.decomposition import PCA
from scipy import spatial

In [6]:
data = pd.read_csv('Dataset/final_us_company_dataset.csv')
df = pd.DataFrame(data)
df

,Unnamed: 0,company_name_id,year_founded,zip_code,full_time_employees,company_type,company_category,revenue_source,business_model,description,description_short,revenue_ source,job_name,job_id
0,0,accuweather,1962.0,16803.0,350.50,Private,Environment & Weather,Subscriptions,"Business to Business, Business to Consumer, Bu...",Provides local forecasts for everywhere in the...,Provides local forecasts for everywhere in the...,Subscriptions,Data Scientist,0
1,1,accuweather,1962.0,16803.0,350.50,Private,Environment & Weather,Subscriptions,"Business to Business, Business to Consumer, Bu...",Provides local forecasts for everywhere in the...,Provides local forecasts for everywhere in the...,Subscriptions,Python Software Engineer,1
2,2,accuweather,1962.0,16803.0,350.50,Private,Environment & Weather,Subscriptions,"Business to Business, Business to Consumer, Bu...",Provides local forecasts for everywhere in the...,Provides local forecasts for everywhere in the...,Subscriptions,Java Developer,2
3,3,accuweather,1962.0,16803.0,350.50,Private,Environment & Weather,Subscriptions,"Business to Business, Business to Consumer, Bu...",Provides local forecasts for everywhere in the...,Provides local forecasts for everywhere in the...,Subscriptions,Cloud Engineer,3
4,4,,1962.0,16803.0,350.50,Private,Environment & Weather,Subscriptions,"Business to Business, Business to Consumer, Bu...",Provides local forecasts for everywhere in the...,Provides local forecasts for everywhere in the...,Subscriptions,Data Scientist,4
5,5,allianz,1896.0,10019.0,10001.00,Public,Finance & Investment,Not reported by company,Business to Consumer,The Company is a provider of retirement soluti...,The Company is a provider of retirement soluti...,Not reported by company,Data Scientist,5
6,6,allianz,1896.0,10019.0,10001.00,Public,Finance & Investment,Not reported by company,Business to Consumer,The Company is a provider of retirement soluti...,The Company is a provider of retirement soluti...,Not reported by company,Python Software Engineer,6
7,7,allianz,1896.0,10019.0,10001.00,Public,Finance & Investment,Not reported by company,Business to Consumer,The Company is a provider of retirement soluti...,The Company is a provider of retirement soluti...,Not reported by company,Java Developer,7
8,8,allianz,1896.0,10019.0,10001.00,Public,Finance & Investment,Not reported by company,Business to Consumer,The Company is a provider of retirement soluti...,The Company is a provider of retirement soluti...,Not reported by company,Cloud Engineer,8
9,9,,1896.0,10019.0,10001.00,Public,Finance & Investment,Not reported by company,Business to Consumer,The Company is a provider of retirement soluti...,The Company is a provider of retirement soluti...,Not reported by company,Data Scientist,9
10,10,amazon,2007.0,98109.0,1533.68,Public,Data/Technology,Not reported by company,Not reported by company,<p>The company offers a broad set of global co...,It provides cloud computing services through ...,Not reported by company,Python Software Engineer,10
11,11,,2007.0,98109.0,1533.68,Public,Data/Technology,Not reported by company,Not reported by company,<p>The company offers a broad set of global co...,It provides cloud computing services through ...,Not reported by company,Python Software Engineer,11
12,12,amazon,2007.0,98109.0,1533.68,Public,Data/Technology,Not reported by company,Not reported by company,<p>The company offers a broad set of global co...,It provides cloud computing services through ...,Not reported by company,Java Developer,12
13,13,amazon,2007.0,98109.0,1533.68,Public,Data/Technology,Not reported by company,Not reported by company,<p>The company offers a broad set of global co...,It provides cloud computing services through ...,Not reported by company,Cloud Engineer,13
14,14,amazon,2007.0,98109.0,1533.68,Public,Data/Technology,Not reported by company,Not reported by company,<p>The company offers a broad set of global co...,It provides cloud computing services through ...,Not reported by company,Data Scientist,14
15,15,citigroup,1812.0,10022.0,10001.00,Public,Finance & Investment,Not reported by company,"Business to Business, Business to Consumer, Bu...","Citigroup Inc., a diversified financial servic...","The company provides consumers, corporations, ...",Not reported by company,Cloud Engineer,15
16,16,citigroup,1812.0,10022.0,10001.00,Public,Finance & Investment,Not reported by company,"Business to Business, Business to Consumer, Bu...","Citigroup Inc., a diversified financial servic...","The company provides consumers, corporations, ...",Not reported by company,Python Software Engineer,16
17,17,citigroup,1812.0,10022.0,10001.00,Public,Finance & Investment,Not reported by company,"Business to Business, Business to Consumer, Bu...","Citigroup Inc., a diversified financial servic...","The company provides consumers, corporations, ...",Not reported by company,Java Developer,17
18,18,,1812.0,10022.0,10001.00,Public,Finance & Investment,Not reported by company,"Business to Business, Business to Consumer, Bu...","Citigroup Inc., a diversified financial servic...","The company provides consumers, corporations, ...",Not reported by company,Cloud Engineer,18
19,19,citigroup,1812.0,10022.0,10001.00,Public,Finance & Investment,Not reported by company,"Business to Business, Business to Consumer, Bu...","Citigroup Inc., a diversified financial servic...","The company provides consumers, corporations, ...",Not reported by company,Data Scientist,19
20,20,fujitsu,1935.0,94089.0,10001.00,Private,Data/Technology,"ICT Product and Services, Software licensing, ...",Not reported by company,The company is a leading Japanese information ...,The company works to shape the future of socie...,"ICT Product and Services, Software licensing, ...",Data Scientist,20
21,21,fujitsu,1935.0,94089.0,10001.00,Private,Data/Technology,"ICT Product and Services, Software licensing, ...",Not reported by company,The company is a leading Japanese information ...,The company works to shape the future of socie...,"ICT Product and Services, Software licensing, ...",Python Software Engineer,21
22,22,fujitsu,1935.0,94089.0,10001.00,Private,Data/Technology,"ICT Product and Services, Software licensing, ...",Not reported by company,The company is a leading Japanese information ...,The company works to shape the future of socie...,"ICT Product and Services, Software licensing, ...",Java Developer,22
23,23,fujitsu,1935.0,94089.0,10001.00,Private,Data/Technology,"ICT Product and Services, Software licensing, ...",Not reported by company,The company is a leading Japanese information ...,The company works to shape the future of socie...,"ICT Product and Services, Software licensing, ...",Cloud Engineer,23
24,24,,1935.0,94089.0,10001.00,Private,Data/Technology,"ICT Product and Services, Software licensing, ...",Not reported by company,The company is a leading Japanese information ...,The company works to shape the future of socie...,"ICT Product and Services, Software licensing, ...",Data Scientist,24
25,25,garmin,1989.0,66062.0,7500.50,Public,Geospatial/Mapping,Not reported by company,Business to Consumer,"As a global provider of navigation, The compan...",The company's products provide geospatial info...,Not reported by company,Data Scientist,25
26,26,garmin,1989.0,66062.0,7500.50,Public,Geospatial/Mapping,Not reported by company,Business to Consumer,"As a global provider of navigation, The compan...",The company's products provide geospatial info...,Not reported by company,Python Software Engineer,26
27,27,garmin,1989.0,66062.0,7500.50,Public,Geospatial/Mapping,Not reported by company,Business to Consumer,"As a global provider of navigation, The compan...",The company's products provide geospatial info...,Not reported by company,Java Developer,27
28,28,garmin,1989.0,66062.0,7500.50,Public,Geospatial/Mapping,Not reported by company,Business to Consumer,"As a global provider of navigation, The compan...",The company's products provide geospatial info...,Not reported by company,Cloud Engineer,28
29,29,,1989.0,66062.0,7500.50,Public,Geospatial/Mapping,Not reported by company,Business to Consumer,"As a global provider of navigation, The compan...",The company's products provide geospatial info...,Not reported by company,Data Scientist,29
30,30,github,2008.0,94107.0,350.50,Private,Data/Technology,Not reported by company,"Business to Business, Business to Consumer, Bu...",The company is a social network for programmer...,The company is at code host with over 9.8 mill...,Not reported by company,Cloud Engineer,30
31,31,github,2008.0,94107.0,350.50,Private,Data/Technology,Not reported by company,"Business to Business, Business to Consumer, Bu...",The company is a social network for programmer...,The company is at code host with over 9.8 mill...,Not reported by company,Python Software Engineer,31
32,32,github,2008.0,94107.0,350.50,Private,Data/Technology,Not reported by company,"Business to Business, Business to Consumer, Bu...",The company is a social network for programmer...,The company is at code host with over 9.8 mill...,Not reported by company,Java Developer,32
33,33,,2008.0,94107.0,350.50,Private,Data/Technology,Not reported by company,"Business to Business, Business to Consumer, Bu...",The company is a social network for programmer...,The company is at code host with over 9.8 mill...,Not reported by company,Cloud Engineer,33
34,34,github,2008.0,94107.0,350.50,Private,Data/Technology,Not reported by company,"Business to Business, Business to Consumer, Bu...",The company is a social network for programmer...,The company is at code host with over 9.8 mill...,Not reported by company,Data Scientist,34
35,35,ibm,1912.0,0.0,10001.00,Public,Data/Technology,"IT and business hardware, software, and services",Not reported by company,"For five years, The employees have been workin...",Instrumented. Intelligent. Interconnected.\n\n...,"IT and business hardware, software, and services",Data Scientist,35
36,36,ibm,1912.0,0.0,10001.00,Public,Data/Technology,"IT and business hardware, software, and services",Not reported by company,"For five years, The employees have been workin...",Instrumented. Intelligent. Interconnected.\n\n...,"IT and business hardware, software, and services",Python Software Engineer,36
37,37,ibm,1912.0,0.0,10001.00,Public,Data/Technology,"IT and business hardware, software, and services",Not reported by company,"For five years, The employees have been workin...",Instrumented. Intelligent. Interconnected.\n\n...,"IT and business hardware, software, and services",Java Developer,37
38,38,ibm,1912.0,0.0,10001.00,Public,Data/Technology,"IT and business hardware, software, and services",Not reported by company,"For five years, The employees have been workin...",Instrumented. Intelligent. Interconnected.\n\n...,"IT and business hardware, software, and services",Cloud Engineer,38
39,39,,1912.0,0.0,10001.00,Public,Data/Technology,"IT and business hardware, software, and services",Not reported by company,"For five years, The employees have been workin...",Instrumented. Intelligent. Interconnected.\n\n...,"IT and business hardware, software, and services",Data Scientist,39
40,40,metlife,1868.0,10166.0,10001.00,Public,Insurance,Not reported by company,"Business to Business, Business to Consumer","The company is a global provider of insurance,...","The company is a provider of insurance, annuit...",Not reported by company,Cloud Engineer,40
41,41,metlife,1868.0,10166.0,10001.00,Public,Insurance,Not reported by company,"Business to Business, Business to Consumer","The company is a global provider of insurance,...","The company is a provider of insurance, annuit...",Not reported by company,Python Software Engineer,41
42,42,metlife,1868.0,10166.0,10001.00,Public,Insurance,Not reported by company,"Business to Business, Business to Consumer","The company is a global provider of insurance,...","The company is a provider of insurance, annuit...",Not reported by company,Java Developer,42
43,43,,1868.0,10166.0,10001.00,Public,Insurance,Not reported by company,"Business to Business, Business to Consumer","The company is a global provider of insurance,...","The company is a provider of insurance, annuit...",Not reported by company,Cloud Engineer,43
44,44,metlife,1868.0,10166.0,10001.00,Public,Insurance,Not reported by company,"Business to Business, Business to Consumer","The company is a global provider of insurance,...","The company is a provider of insurance, annuit...",Not reported by company,Data Scientist,44
45,45,uber,2009.0,94105.0,3000.50,Private,Transportation,Not reported by company,Not reported by company,The company aims to evolve the way the world m...,The company connects riders to drivers through...,Not reported by company,Java Developer,45
46,46,uber,2009.0,94105.0,3000.50,Private,Transportation,Not reported by company,Not reported by company,The company aims to evolve the way the world m...,The company connects riders to drivers through...,Not reported by company,Python Software Engineer,46
47,47,,2009.0,94105.0,3000.50,Private,Transportation,Not reported by company,Not reported by company,The company aims to evolve the way the world m...,The company connects riders to drivers through...,Not reported by company,Java Developer,47
48,48,uber,2009.0,94105.0,3000.50,Private,Transportation,Not reported by company,Not reported by company,The company aims to evolve the way the world m...,The company connects riders to drivers through...,Not reported by company,Cloud Engineer,48
49,49,uber,2009.0,94105.0,3000.50,Private,Transportation,Not reported by company,Not reported by company,The company aims to evolve the way the world m...,The company connects riders to drivers through...,Not reported by company,Data Scientist,49
50,50,yahoo,1994.0,94089.0,10001.00,Public,Lifestyle & Consumer,Not reported by company,Not reported by company,The company is a global Internet brand. To us...,The company is a major internet brand with sea...,Not reported by company,Java Developer,50
51,51,yahoo,1994.0,94089.0,10001.00,Public,Lifestyle & Consumer,Not reported by company,Not reported by company,The company is a global Internet brand. To us...,The company is a major internet brand with sea...,Not reported by company,Python Software Engineer,51
52,52,,1994.0,94089.0,10001.00,Public,Lifestyle & Consumer,Not reported by company,Not reported by company,The company is a global Internet brand. To us...,The company is a major internet brand with sea...,Not reported by company,Java Developer,52
53,53,yahoo,1994.0,94089.0,10001.00,Public,Lifestyle & Consumer,Not reported by company,Not reported by company,The company is a global Internet brand. To us...,The company is a major internet brand with sea...,Not reported by company,Cloud Engineer,53
54,54,yahoo,1994.0,94089.0,10001.00,Public,Lifestyle & Consumer,Not reported by company,Not reported by company,The company is a global Internet brand. To us...,The company is a major internet brand with sea...,Not reported by company,Data Scientist,54
55,55,zurich,1912.0,60196.0,10001.00,Public,Insurance,Not reported by company,Not reported by company,The company helps corporate customers gain a s...,The company is a proprietary global risk analy...,Not reported by company,Cloud Engineer,55
56,56,zurich,1912.0,60196.0,10001.00,Public,Insurance,Not reported by company,Not reported by company,The company helps corporate customers gain a s...,The company is a proprietary global risk analy...,Not reported by company,Python Software Engineer,56
57,57,zurich,1912.0,60196.0,10001.00,Public,Insurance,Not reported by company,Not reported by company,The company helps corporate customers gain a s...,The company is a proprietary global risk analy...,Not reported by company,Java Developer,57
58,58,,1912.0,60196.0,10001.00,Public,Insurance,Not reported by company,Not reported by company,The company helps corporate customers gain a s...,The company is a proprietary global risk analy...,Not reported by company,Cloud Engineer,58
59,59,zurich,1912.0,60196.0,10001.00,Public,Insurance,Not reported by company,Not reported by company,The company helps corporate customers gain a s...,The company is a proprietary global risk analy...,Not reported by company,Data Scientist,59

In [7]:
columns_to_delete = ['Unnamed: 0', 'company_type', 'revenue_source', 'business_model',
                     'revenue_ source']

for column in columns_to_delete:
    df.drop(column, axis=1, inplace=True)
df

,company_name_id,year_founded,zip_code,full_time_employees,company_category,description,description_short,job_name,job_id
0,accuweather,1962.0,16803.0,350.50,Environment & Weather,Provides local forecasts for everywhere in the...,Provides local forecasts for everywhere in the...,Data Scientist,0
1,accuweather,1962.0,16803.0,350.50,Environment & Weather,Provides local forecasts for everywhere in the...,Provides local forecasts for everywhere in the...,Python Software Engineer,1
2,accuweather,1962.0,16803.0,350.50,Environment & Weather,Provides local forecasts for everywhere in the...,Provides local forecasts for everywhere in the...,Java Developer,2
3,accuweather,1962.0,16803.0,350.50,Environment & Weather,Provides local forecasts for everywhere in the...,Provides local forecasts for everywhere in the...,Cloud Engineer,3
4,,1962.0,16803.0,350.50,Environment & Weather,Provides local forecasts for everywhere in the...,Provides local forecasts for everywhere in the...,Data Scientist,4
5,allianz,1896.0,10019.0,10001.00,Finance & Investment,The Company is a provider of retirement soluti...,The Company is a provider of retirement soluti...,Data Scientist,5
6,allianz,1896.0,10019.0,10001.00,Finance & Investment,The Company is a provider of retirement soluti...,The Company is a provider of retirement soluti...,Python Software Engineer,6
7,allianz,1896.0,10019.0,10001.00,Finance & Investment,The Company is a provider of retirement soluti...,The Company is a provider of retirement soluti...,Java Developer,7
8,allianz,1896.0,10019.0,10001.00,Finance & Investment,The Company is a provider of retirement soluti...,The Company is a provider of retirement soluti...,Cloud Engineer,8
9,,1896.0,10019.0,10001.00,Finance & Investment,The Company is a provider of retirement soluti...,The Company is a provider of retirement soluti...,Data Scientist,9
10,amazon,2007.0,98109.0,1533.68,Data/Technology,<p>The company offers a broad set of global co...,It provides cloud computing services through ...,Python Software Engineer,10
11,,2007.0,98109.0,1533.68,Data/Technology,<p>The company offers a broad set of global co...,It provides cloud computing services through ...,Python Software Engineer,11
12,amazon,2007.0,98109.0,1533.68,Data/Technology,<p>The company offers a broad set of global co...,It provides cloud computing services through ...,Java Developer,12
13,amazon,2007.0,98109.0,1533.68,Data/Technology,<p>The company offers a broad set of global co...,It provides cloud computing services through ...,Cloud Engineer,13
14,amazon,2007.0,98109.0,1533.68,Data/Technology,<p>The company offers a broad set of global co...,It provides cloud computing services through ...,Data Scientist,14
15,citigroup,1812.0,10022.0,10001.00,Finance & Investment,"Citigroup Inc., a diversified financial servic...","The company provides consumers, corporations, ...",Cloud Engineer,15
16,citigroup,1812.0,10022.0,10001.00,Finance & Investment,"Citigroup Inc., a diversified financial servic...","The company provides consumers, corporations, ...",Python Software Engineer,16
17,citigroup,1812.0,10022.0,10001.00,Finance & Investment,"Citigroup Inc., a diversified financial servic...","The company provides consumers, corporations, ...",Java Developer,17
18,,1812.0,10022.0,10001.00,Finance & Investment,"Citigroup Inc., a diversified financial servic...","The company provides consumers, corporations, ...",Cloud Engineer,18
19,citigroup,1812.0,10022.0,10001.00,Finance & Investment,"Citigroup Inc., a diversified financial servic...","The company provides consumers, corporations, ...",Data Scientist,19
20,fujitsu,1935.0,94089.0,10001.00,Data/Technology,The company is a leading Japanese information ...,The company works to shape the future of socie...,Data Scientist,20
21,fujitsu,1935.0,94089.0,10001.00,Data/Technology,The company is a leading Japanese information ...,The company works to shape the future of socie...,Python Software Engineer,21
22,fujitsu,1935.0,94089.0,10001.00,Data/Technology,The company is a leading Japanese information ...,The company works to shape the future of socie...,Java Developer,22
23,fujitsu,1935.0,94089.0,10001.00,Data/Technology,The company is a leading Japanese information ...,The company works to shape the future of socie...,Cloud Engineer,23
24,,1935.0,94089.0,10001.00,Data/Technology,The company is a leading Japanese information ...,The company works to shape the future of socie...,Data Scientist,24
25,garmin,1989.0,66062.0,7500.50,Geospatial/Mapping,"As a global provider of navigation, The compan...",The company's products provide geospatial info...,Data Scientist,25
26,garmin,1989.0,66062.0,7500.50,Geospatial/Mapping,"As a global provider of navigation, The compan...",The company's products provide geospatial info...,Python Software Engineer,26
27,garmin,1989.0,66062.0,7500.50,Geospatial/Mapping,"As a global provider of navigation, The compan...",The company's products provide geospatial info...,Java Developer,27
28,garmin,1989.0,66062.0,7500.50,Geospatial/Mapping,"As a global provider of navigation, The compan...",The company's products provide geospatial info...,Cloud Engineer,28
29,,1989.0,66062.0,7500.50,Geospatial/Mapping,"As a global provider of navigation, The compan...",The company's products provide geospatial info...,Data Scientist,29
30,github,2008.0,94107.0,350.50,Data/Technology,The company is a social network for programmer...,The company is at code host with over 9.8 mill...,Cloud Engineer,30
31,github,2008.0,94107.0,350.50,Data/Technology,The company is a social network for programmer...,The company is at code host with over 9.8 mill...,Python Software Engineer,31
32,github,2008.0,94107.0,350.50,Data/Technology,The company is a social network for programmer...,The company is at code host with over 9.8 mill...,Java Developer,32
33,,2008.0,94107.0,350.50,Data/Technology,The company is a social network for programmer...,The company is at code host with over 9.8 mill...,Cloud Engineer,33
34,github,2008.0,94107.0,350.50,Data/Technology,The company is a social network for programmer...,The company is at code host with over 9.8 mill...,Data Scientist,34
35,ibm,1912.0,0.0,10001.00,Data/Technology,"For five years, The employees have been workin...",Instrumented. Intelligent. Interconnected.\n\n...,Data Scientist,35
36,ibm,1912.0,0.0,10001.00,Data/Technology,"For five years, The employees have been workin...",Instrumented. Intelligent. Interconnected.\n\n...,Python Software Engineer,36
37,ibm,1912.0,0.0,10001.00,Data/Technology,"For five years, The employees have been workin...",Instrumented. Intelligent. Interconnected.\n\n...,Java Developer,37
38,ibm,1912.0,0.0,10001.00,Data/Technology,"For five years, The employees have been workin...",Instrumented. Intelligent. Interconnected.\n\n...,Cloud Engineer,38
39,,1912.0,0.0,10001.00,Data/Technology,"For five years, The employees have been workin...",Instrumented. Intelligent. Interconnected.\n\n...,Data Scientist,39
40,metlife,1868.0,10166.0,10001.00,Insurance,"The company is a global provider of insurance,...","The company is a provider of insurance, annuit...",Cloud Engineer,40
41,metlife,1868.0,10166.0,10001.00,Insurance,"The company is a global provider of insurance,...","The company is a provider of insurance, annuit...",Python Software Engineer,41
42,metlife,1868.0,10166.0,10001.00,Insurance,"The company is a global provider of insurance,...","The company is a provider of insurance, annuit...",Java Developer,42
43,,1868.0,10166.0,10001.00,Insurance,"The company is a global provider of insurance,...","The company is a provider of insurance, annuit...",Cloud Engineer,43
44,metlife,1868.0,10166.0,10001.00,Insurance,"The company is a global provider of insurance,...","The company is a provider of insurance, annuit...",Data Scientist,44
45,uber,2009.0,94105.0,3000.50,Transportation,The company aims to evolve the way the world m...,The company connects riders to drivers through...,Java Developer,45
46,uber,2009.0,94105.0,3000.50,Transportation,The company aims to evolve the way the world m...,The company connects riders to drivers through...,Python Software Engineer,46
47,,2009.0,94105.0,3000.50,Transportation,The company aims to evolve the way the world m...,The company connects riders to drivers through...,Java Developer,47
48,uber,2009.0,94105.0,3000.50,Transportation,The company aims to evolve the way the world m...,The company connects riders to drivers through...,Cloud Engineer,48
49,uber,2009.0,94105.0,3000.50,Transportation,The company aims to evolve the way the world m...,The company connects riders to drivers through...,Data Scientist,49
50,yahoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,The company is a global Internet brand. To us...,The company is a major internet brand with sea...,Java Developer,50
51,yahoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,The company is a global Internet brand. To us...,The company is a major internet brand with sea...,Python Software Engineer,51
52,,1994.0,94089.0,10001.00,Lifestyle & Consumer,The company is a global Internet brand. To us...,The company is a major internet brand with sea...,Java Developer,52
53,yahoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,The company is a global Internet brand. To us...,The company is a major internet brand with sea...,Cloud Engineer,53
54,yahoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,The company is a global Internet brand. To us...,The company is a major internet brand with sea...,Data Scientist,54
55,zurich,1912.0,60196.0,10001.00,Insurance,The company helps corporate customers gain a s...,The company is a proprietary global risk analy...,Cloud Engineer,55
56,zurich,1912.0,60196.0,10001.00,Insurance,The company helps corporate customers gain a s...,The company is a proprietary global risk analy...,Python Software Engineer,56
57,zurich,1912.0,60196.0,10001.00,Insurance,The company helps corporate customers gain a s...,The company is a proprietary global risk analy...,Java Developer,57
58,,1912.0,60196.0,10001.00,Insurance,The company helps corporate customers gain a s...,The company is a proprietary global risk analy...,Cloud Engineer,58
59,zurich,1912.0,60196.0,10001.00,Insurance,The company helps corporate customers gain a s...,The company is a proprietary global risk analy...,Data Scientist,59

In [8]:
data_new = pd.read_csv('Dataset/new_us_companies.csv')
df_new = pd.DataFrame(data_new)
df_new

,company_name_id,year_founded,zip_code,full_time_employees,company_category,description,description_short,job_name,job_id
0,cadbury_schweppes,1824,7936,71657,Confectionery,This position is for a process developer with ...,This position is for a process developer with ...,Senior Engineer,60
1,cadbury_schweppes,1824,7936,71657,Confectionery,"Responsible for business engagement, definitio...","Responsible for business engagement, definitio...",Global Technology Lead,61
2,marriott,1927,20810,177000,Hospitality,The Senior Engineer oversees and/or performs h...,The Senior Engineer oversees and/or performs h...,Senior Engineer,62
3,marriott,1927,20810,177000,Hospitality,This role requires the ability to move and lif...,This role requires the ability to move and lif...,Server,63
4,syniverse,1987,33647,2179,Telecommunications,The Technical Service Manager is responsible f...,The Technical Service Manager is responsible f...,Technical Service Manager,64
5,syniverse,1987,33647,2179,Telecommunications,The Senior Systems Engineer (SSE) assigned to ...,The Senior Systems Engineer (SSE) assigned to ...,Sr. Systems Engineer,65
6,Lowes,1946,28115,310000,Retail,The primary purpose of this Peformance Testing...,The primary purpose of this Peformance Testing...,Performance Tester,66
7,Lowes,1946,28115,310000,Retail,Participate in the full system development lif...,Participate in the full system development lif...,Senior IT Software Engineer,67
8,publix_super_markets,1930,33811,193000,Retail,Bachelor's degree\n2+ years of experience in U...,Bachelor's degree\n2+ years of experience in U...,Interactive Designer,68
9,publix_super_markets,1930,33811,193000,Retail,Systems Analyst Programmer who will play a key...,Systems Analyst Programmer who will play a key...,Systems Analyst,69
10,publix_super_markets,1930,33811,193000,Retail,Principal Network Engineer responsibilities in...,Principal Network Engineer responsibilities in...,Principal Network Engineer,70
11,harley_davidson,1903,53208,5800,Motorcycle Manufacturer,The Integration Design Lead is responsible for...,The Integration Design Lead is responsible for...,IT Design Lead,71
12,harley_davidson,1903,53208,5800,Motorcycle Manufacturer,The Senior Data Steward role is responsible fo...,The Senior Data Steward role is responsible fo...,Senior Data Steward,72
13,mcafee,1987,95054,6768,Data/Technology,We are currently seeking a hands-on IT Manager...,We are currently seeking a hands-on IT Manager...,IT Manager,73
14,mcafee,1987,95054,6768,Data/Technology,"You will work with developers, QA teams, Local...","You will work with developers, QA teams, Local...",Senior Software Development Engineer,74
15,kimberly_clark,1872,30309,42000,Personal Care,The Engineering & Application Team is the IT E...,The Engineering & Application Team is the IT E...,CRM Technical Lead,75
16,kimberly_clark,1872,30309,42000,Personal Care,"Support the feasibility, development, and comm...","Support the feasibility, development, and comm...",Sr. Engineer- Gloves and Apparel,76
17,capital_one,1988,75024,49300,Finance & Investment,Hands-on Angular JS experience (Angular 5 is a...,Hands-on Angular JS experience (Angular 5 is a...,Software Developer,77
18,capital_one,1988,75024,49300,Finance & Investment,This exciting opportunity is with the US Card ...,This exciting opportunity is with the US Card ...,Sr. Staffing Analyst,78
19,capital_one,1988,75024,49300,Finance & Investment,"In the Scrum Master role, you'll serve as the ...","In the Scrum Master role, you'll serve as the ...",Scrum Master,79

In [9]:
final_df = pd.concat([df, df_new], axis=0,ignore_index=True)
final_df

,company_name_id,year_founded,zip_code,full_time_employees,company_category,description,description_short,job_name,job_id
0,accuweather,1962.0,16803.0,350.50,Environment & Weather,Provides local forecasts for everywhere in the...,Provides local forecasts for everywhere in the...,Data Scientist,0
1,accuweather,1962.0,16803.0,350.50,Environment & Weather,Provides local forecasts for everywhere in the...,Provides local forecasts for everywhere in the...,Python Software Engineer,1
2,accuweather,1962.0,16803.0,350.50,Environment & Weather,Provides local forecasts for everywhere in the...,Provides local forecasts for everywhere in the...,Java Developer,2
3,accuweather,1962.0,16803.0,350.50,Environment & Weather,Provides local forecasts for everywhere in the...,Provides local forecasts for everywhere in the...,Cloud Engineer,3
4,,1962.0,16803.0,350.50,Environment & Weather,Provides local forecasts for everywhere in the...,Provides local forecasts for everywhere in the...,Data Scientist,4
5,allianz,1896.0,10019.0,10001.00,Finance & Investment,The Company is a provider of retirement soluti...,The Company is a provider of retirement soluti...,Data Scientist,5
6,allianz,1896.0,10019.0,10001.00,Finance & Investment,The Company is a provider of retirement soluti...,The Company is a provider of retirement soluti...,Python Software Engineer,6
7,allianz,1896.0,10019.0,10001.00,Finance & Investment,The Company is a provider of retirement soluti...,The Company is a provider of retirement soluti...,Java Developer,7
8,allianz,1896.0,10019.0,10001.00,Finance & Investment,The Company is a provider of retirement soluti...,The Company is a provider of retirement soluti...,Cloud Engineer,8
9,,1896.0,10019.0,10001.00,Finance & Investment,The Company is a provider of retirement soluti...,The Company is a provider of retirement soluti...,Data Scientist,9
10,amazon,2007.0,98109.0,1533.68,Data/Technology,<p>The company offers a broad set of global co...,It provides cloud computing services through ...,Python Software Engineer,10
11,,2007.0,98109.0,1533.68,Data/Technology,<p>The company offers a broad set of global co...,It provides cloud computing services through ...,Python Software Engineer,11
12,amazon,2007.0,98109.0,1533.68,Data/Technology,<p>The company offers a broad set of global co...,It provides cloud computing services through ...,Java Developer,12
13,amazon,2007.0,98109.0,1533.68,Data/Technology,<p>The company offers a broad set of global co...,It provides cloud computing services through ...,Cloud Engineer,13
14,amazon,2007.0,98109.0,1533.68,Data/Technology,<p>The company offers a broad set of global co...,It provides cloud computing services through ...,Data Scientist,14
15,citigroup,1812.0,10022.0,10001.00,Finance & Investment,"Citigroup Inc., a diversified financial servic...","The company provides consumers, corporations, ...",Cloud Engineer,15
16,citigroup,1812.0,10022.0,10001.00,Finance & Investment,"Citigroup Inc., a diversified financial servic...","The company provides consumers, corporations, ...",Python Software Engineer,16
17,citigroup,1812.0,10022.0,10001.00,Finance & Investment,"Citigroup Inc., a diversified financial servic...","The company provides consumers, corporations, ...",Java Developer,17
18,,1812.0,10022.0,10001.00,Finance & Investment,"Citigroup Inc., a diversified financial servic...","The company provides consumers, corporations, ...",Cloud Engineer,18
19,citigroup,1812.0,10022.0,10001.00,Finance & Investment,"Citigroup Inc., a diversified financial servic...","The company provides consumers, corporations, ...",Data Scientist,19
20,fujitsu,1935.0,94089.0,10001.00,Data/Technology,The company is a leading Japanese information ...,The company works to shape the future of socie...,Data Scientist,20
21,fujitsu,1935.0,94089.0,10001.00,Data/Technology,The company is a leading Japanese information ...,The company works to shape the future of socie...,Python Software Engineer,21
22,fujitsu,1935.0,94089.0,10001.00,Data/Technology,The company is a leading Japanese information ...,The company works to shape the future of socie...,Java Developer,22
23,fujitsu,1935.0,94089.0,10001.00,Data/Technology,The company is a leading Japanese information ...,The company works to shape the future of socie...,Cloud Engineer,23
24,,1935.0,94089.0,10001.00,Data/Technology,The company is a leading Japanese information ...,The company works to shape the future of socie...,Data Scientist,24
25,garmin,1989.0,66062.0,7500.50,Geospatial/Mapping,"As a global provider of navigation, The compan...",The company's products provide geospatial info...,Data Scientist,25
26,garmin,1989.0,66062.0,7500.50,Geospatial/Mapping,"As a global provider of navigation, The compan...",The company's products provide geospatial info...,Python Software Engineer,26
27,garmin,1989.0,66062.0,7500.50,Geospatial/Mapping,"As a global provider of navigation, The compan...",The company's products provide geospatial info...,Java Developer,27
28,garmin,1989.0,66062.0,7500.50,Geospatial/Mapping,"As a global provider of navigation, The compan...",The company's products provide geospatial info...,Cloud Engineer,28
29,,1989.0,66062.0,7500.50,Geospatial/Mapping,"As a global provider of navigation, The compan...",The company's products provide geospatial info...,Data Scientist,29
...,...,...,...,...,...,...,...,...,...
50,yahoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,The company is a global Internet brand. To us...,The company is a major internet brand with sea...,Java Developer,50
51,yahoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,The company is a global Internet brand. To us...,The company is a major internet brand with sea...,Python Software Engineer,51
52,,1994.0,94089.0,10001.00,Lifestyle & Consumer,The company is a global Internet brand. To us...,The company is a major internet brand with sea...,Java Developer,52
53,yahoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,The company is a global Internet brand. To us...,The company is a major internet brand with sea...,Cloud Engineer,53
54,yahoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,The company is a global Internet brand. To us...,The company is a major internet brand with sea...,Data Scientist,54
55,zurich,1912.0,60196.0,10001.00,Insurance,The company helps corporate customers gain a s...,The company is a proprietary global risk analy...,Cloud Engineer,55
56,zurich,1912.0,60196.0,10001.00,Insurance,The company helps corporate customers gain a s...,The company is a proprietary global risk analy...,Python Software Engineer,56
57,zurich,1912.0,60196.0,10001.00,Insurance,The company helps corporate customers gain a s...,The company is a proprietary global risk analy...,Java Developer,57
58,,1912.0,60196.0,10001.00,Insurance,The company helps corporate customers gain a s...,The company is a proprietary global risk analy...,Cloud Engineer,58
59,zurich,1912.0,60196.0,10001.00,Insurance,The company helps corporate customers gain a s...,The company is a proprietary global risk analy...,Data Scientist,59
60,cadbury_schweppes,1824.0,7936.0,71657.00,Confectionery,This position is for a process developer with ...,This position is for a process developer with ...,Senior Engineer,60
61,cadbury_schweppes,1824.0,7936.0,71657.00,Confectionery,"Responsible for business engagement, definitio...","Responsible for business engagement, definitio...",Global Technology Lead,61
62,marriott,1927.0,20810.0,177000.00,Hospitality,The Senior Engineer oversees and/or performs h...,The Senior Engineer oversees and/or performs h...,Senior Engineer,62
63,marriott,1927.0,20810.0,177000.00,Hospitality,This role requires the ability to move and lif...,This role requires the ability to move and lif...,Server,63
64,syniverse,1987.0,33647.0,2179.00,Telecommunications,The Technical Service Manager is responsible f...,The Technical Service Manager is responsible f...,Technical Service Manager,64
65,syniverse,1987.0,33647.0,2179.00,Telecommunications,The Senior Systems Engineer (SSE) assigned to ...,The Senior Systems Engineer (SSE) assigned to ...,Sr. Systems Engineer,65
66,Lowes,1946.0,28115.0,310000.00,Retail,The primary purpose of this Peformance Testing...,The primary purpose of this Peformance Testing...,Performance Tester,66
67,Lowes,1946.0,28115.0,310000.00,Retail,Participate in the full system development lif...,Participate in the full system development lif...,Senior IT Software Engineer,67
68,publix_super_markets,1930.0,33811.0,193000.00,Retail,Bachelor's degree\n2+ years of experience in U...,Bachelor's degree\n2+ years of experience in U...,Interactive Designer,68
69,publix_super_markets,1930.0,33811.0,193000.00,Retail,Systems Analyst Programmer who will play a key...,Systems Analyst Programmer who will play a key...,Systems Analyst,69
70,publix_super_markets,1930.0,33811.0,193000.00,Retail,Principal Network Engineer responsibilities in...,Principal Network Engineer responsibilities in...,Principal Network Engineer,70
71,harley_davidson,1903.0,53208.0,5800.00,Motorcycle Manufacturer,The Integration Design Lead is responsible for...,The Integration Design Lead is responsible for...,IT Design Lead,71
72,harley_davidson,1903.0,53208.0,5800.00,Motorcycle Manufacturer,The Senior Data Steward role is responsible fo...,The Senior Data Steward role is responsible fo...,Senior Data Steward,72
73,mcafee,1987.0,95054.0,6768.00,Data/Technology,We are currently seeking a hands-on IT Manager...,We are currently seeking a hands-on IT Manager...,IT Manager,73
74,mcafee,1987.0,95054.0,6768.00,Data/Technology,"You will work with developers, QA teams, Local...","You will work with developers, QA teams, Local...",Senior Software Development Engineer,74
75,kimberly_clark,1872.0,30309.0,42000.00,Personal Care,The Engineering & Application Team is the IT E...,The Engineering & Application Team is the IT E...,CRM Technical Lead,75
76,kimberly_clark,1872.0,30309.0,42000.00,Personal Care,"Support the feasibility, development, and comm...","Support the feasibility, development, and comm...",Sr. Engineer- Gloves and Apparel,76
77,capital_one,1988.0,75024.0,49300.00,Finance & Investment,Hands-on Angular JS experience (Angular 5 is a...,Hands-on Angular JS experience (Angular 5 is a...,Software Developer,77
78,capital_one,1988.0,75024.0,49300.00,Finance & Investment,This exciting opportunity is with the US Card ...,This exciting opportunity is with the US Card ...,Sr. Staffing Analyst,78
79,capital_one,1988.0,75024.0,49300.00,Finance & Investment,"In the Scrum Master role, you'll serve as the ...","In the Scrum Master role, you'll serve as the ...",Scrum Master,79

In [10]:
final_df.to_csv('Dataset/new_us_company_dataset.csv')

Cuando se extraen puestos de trabajo de la Web, los nombres de las empresas no están normalizados. Por lo que se procederá cambiar el nombre de las empresas de algunas de las publicaciones para lograr tener un nombre no normalizado y provocar que el algoritmo de clustering no se base en el nombre de la empresa.

In [173]:
df['company_name_id'][1] = 'accwea'
df['company_name_id'][6] = 'allnz'
df['company_name_id'][13] = 'aws'
df['company_name_id'][12] = 'amazon'
df['company_name_id'][17] = 'citi'
df['company_name_id'][22] = 'fujtsu'
df['company_name_id'][27] = 'gmin'
df['company_name_id'][30] = 'git' 
df['company_name_id'][40] = 'mlife'
df['company_name_id'][46] = 'ubr' 
df['company_name_id'][51] = 'yhoo'
df['company_name_id'][55] = 'zurich'

/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

Guardamos el dataframe original por si nos sirve a futuro para la extracción de ciertos datos.

In [174]:
df_original = df.copy()
df

,Unnamed: 0,company_name_id,year_founded,zip_code,full_time_employees,company_type,company_category,revenue_source,business_model,description,description_short,revenue_ source,job_name,job_id
0,0,accuweather,1962.0,16803.0,350.50,Private,Environment & Weather,Subscriptions,"Business to Business, Business to Consumer, Bu...",AccuWeather provides local forecasts for every...,AccuWeather provides local forecasts for every...,Subscriptions,Data Scientist,0
1,1,accwea,1962.0,16803.0,350.50,Private,Environment & Weather,Subscriptions,"Business to Business, Business to Consumer, Bu...",AccuWeather provides local forecasts for every...,AccuWeather provides local forecasts for every...,Subscriptions,Python Software Engineer,1
2,2,accuweather,1962.0,16803.0,350.50,Private,Environment & Weather,Subscriptions,"Business to Business, Business to Consumer, Bu...",AccuWeather provides local forecasts for every...,AccuWeather provides local forecasts for every...,Subscriptions,Java Developer,2
3,3,accuweather,1962.0,16803.0,350.50,Private,Environment & Weather,Subscriptions,"Business to Business, Business to Consumer, Bu...",AccuWeather provides local forecasts for every...,AccuWeather provides local forecasts for every...,Subscriptions,Cloud Engineer,3
4,4,,1962.0,16803.0,350.50,Private,Environment & Weather,Subscriptions,"Business to Business, Business to Consumer, Bu...",AccuWeather provides local forecasts for every...,AccuWeather provides local forecasts for every...,Subscriptions,Data Scientist,4
5,5,allianz,1896.0,10019.0,10001.00,Public,Finance & Investment,Not reported by company,Business to Consumer,Allianz Life Insurance Company is a provider o...,Allianz Life Insurance Company is a provider o...,Not reported by company,Data Scientist,5
6,6,allnz,1896.0,10019.0,10001.00,Public,Finance & Investment,Not reported by company,Business to Consumer,Allianz Life Insurance Company is a provider o...,Allianz Life Insurance Company is a provider o...,Not reported by company,Python Software Engineer,6
7,7,allianz,1896.0,10019.0,10001.00,Public,Finance & Investment,Not reported by company,Business to Consumer,Allianz Life Insurance Company is a provider o...,Allianz Life Insurance Company is a provider o...,Not reported by company,Java Developer,7
8,8,allianz,1896.0,10019.0,10001.00,Public,Finance & Investment,Not reported by company,Business to Consumer,Allianz Life Insurance Company is a provider o...,Allianz Life Insurance Company is a provider o...,Not reported by company,Cloud Engineer,8
9,9,,1896.0,10019.0,10001.00,Public,Finance & Investment,Not reported by company,Business to Consumer,Allianz Life Insurance Company is a provider o...,Allianz Life Insurance Company is a provider o...,Not reported by company,Data Scientist,9
10,10,amazon-web-services,2007.0,98109.0,1533.68,Public,Data/Technology,Not reported by company,Not reported by company,<p>Amazon Web Services offers a broad set of g...,Amazon provides cloud computing services throu...,Not reported by company,Python Software Engineer,10
11,11,,2007.0,98109.0,1533.68,Public,Data/Technology,Not reported by company,Not reported by company,<p>Amazon Web Services offers a broad set of g...,Amazon provides cloud computing services throu...,Not reported by company,Python Software Engineer,11
12,12,amazon,2007.0,98109.0,1533.68,Public,Data/Technology,Not reported by company,Not reported by company,<p>Amazon Web Services offers a broad set of g...,Amazon provides cloud computing services throu...,Not reported by company,Java Developer,12
13,13,aws,2007.0,98109.0,1533.68,Public,Data/Technology,Not reported by company,Not reported by company,<p>Amazon Web Services offers a broad set of g...,Amazon provides cloud computing services throu...,Not reported by company,Cloud Engineer,13
14,14,amazon-web-services,2007.0,98109.0,1533.68,Public,Data/Technology,Not reported by company,Not reported by company,<p>Amazon Web Services offers a broad set of g...,Amazon provides cloud computing services throu...,Not reported by company,Data Scientist,14
15,15,citigroup,1812.0,10022.0,10001.00,Public,Finance & Investment,Not reported by company,"Business to Business, Business to Consumer, Bu...","Citigroup Inc., a diversified financial servic...","Citi provides consumers, corporations, governm...",Not reported by company,Cloud Engineer,15
16,16,citigroup,1812.0,10022.0,10001.00,Public,Finance & Investment,Not reported by company,"Business to Business, Business to Consumer, Bu...","Citigroup Inc., a diversified financial servic...","Citi provides consumers, corporations, governm...",Not reported by company,Python Software Engineer,16
17,17,citi,1812.0,10022.0,10001.00,Public,Finance & Investment,Not reported by company,"Business to Business, Business to Consumer, Bu...","Citigroup Inc., a diversified financial servic...","Citi provides consumers, corporations, governm...",Not reported by company,Java Developer,17
18,18,,1812.0,10022.0,10001.00,Public,Finance & Investment,Not reported by company,"Business to Business, Business to Consumer, Bu...","Citigroup Inc., a diversified financial servic...","Citi provides consumers, corporations, governm...",Not reported by company,Cloud Engineer,18
19,19,citigroup,1812.0,10022.0,10001.00,Public,Finance & Investment,Not reported by company,"Business to Business, Business to Consumer, Bu...","Citigroup Inc., a diversified financial servic...","Citi provides consumers, corporations, governm...",Not reported by company,Data Scientist,19
20,20,fujitsu,1935.0,94089.0,10001.00,Private,Data/Technology,"ICT Product and Services, Software licensing, ...",Not reported by company,Fujitsu is a leading Japanese information and ...,Fujitsu works to shape the future of society a...,"ICT Product and Services, Software licensing, ...",Data Scientist,20
21,21,fujitsu,1935.0,94089.0,10001.00,Private,Data/Technology,"ICT Product and Services, Software licensing, ...",Not reported by company,Fujitsu is a leading Japanese information and ...,Fujitsu works to shape the future of society a...,"ICT Product and Services, Software licensing, ...",Python Software Engineer,21
22,22,fujtsu,1935.0,94089.0,10001.00,Private,Data/Technology,"ICT Product and Services, Software licensing, ...",Not reported by company,Fujitsu is a leading Japanese information and ...,Fujitsu works to shape the future of society a...,"ICT Product and Services, Software licensing, ...",Java Developer,22
23,23,fujitsu,1935.0,94089.0,10001.00,Private,Data/Technology,"ICT Product and Services, Software licensing, ...",Not reported by company,Fujitsu is a leading Japanese information and ...,Fujitsu works to shape the future of society a...,"ICT Product and Services, Software licensing, ...",Cloud Engineer,23
24,24,,1935.0,94089.0,10001.00,Private,Data/Technology,"ICT Product and Services, Software licensing, ...",Not reported by company,Fujitsu is a leading Japanese information and ...,Fujitsu works to shape the future of society a...,"ICT Product and Services, Software licensing, ...",Data Scientist,24
25,25,garmin,1989.0,66062.0,7500.50,Public,Geospatial/Mapping,Not reported by company,Business to Consumer,"As a global provider of navigation, Garmin is ...",Garmin's products provide geospatial informati...,Not reported by company,Data Scientist,25
26,26,garmin,1989.0,66062.0,7500.50,Public,Geospatial/Mapping,Not reported by company,Business to Consumer,"As a global provider of navigation, Garmin is ...",Garmin's products provide geospatial informati...,Not reported by company,Python Software Engineer,26
27,27,gmin,1989.0,66062.0,7500.50,Public,Geospatial/Mapping,Not reported by company,Business to Consumer,"As a global provider of navigation, Garmin is ...",Garmin's products provide geospatial informati...,Not reported by company,Java Developer,27
28,28,garmin,1989.0,66062.0,7500.50,Public,Geospatial/Mapping,Not reported by company,Business to Consumer,"As a global provider of navigation, Garmin is ...",Garmin's products provide geospatial informati...,Not reported by company,Cloud Engineer,28
29,29,,1989.0,66062.0,7500.50,Public,Geospatial/Mapping,Not reported by company,Business to Consumer,"As a global provider of navigation, Garmin is ...",Garmin's products provide geospatial informati...,Not reported by company,Data Scientist,29
30,30,git,2008.0,94107.0,350.50,Private,Data/Technology,Not reported by company,"Business to Business, Business to Consumer, Bu...",GitHub is a social network for programmers. Th...,GitHub is at code host with over 9.8 million r...,Not reported by company,Cloud Engineer,30
31,31,github,2008.0,94107.0,350.50,Private,Data/Technology,Not reported by company,"Business to Business, Business to Consumer, Bu...",GitHub is a social network for programmers. Th...,GitHub is at code host with over 9.8 million r...,Not reported by company,Python Software Engineer,31
32,32,github,2008.0,94107.0,350.50,Private,Data/Technology,Not reported by company,"Business to Business, Business to Consumer, Bu...",GitHub is a social network for programmers. Th...,GitHub is at code host with over 9.8 million r...,Not reported by company,Java Developer,32
33,33,,2008.0,94107.0,350.50,Private,Data/Technology,Not reported by company,"Business to Business, Business to Consumer, Bu...",GitHub is a social network for programmers. Th...,GitHub is at code host with over 9.8 million r...,Not reported by company,Cloud Engineer,33
34,34,github,2008.0,94107.0,350.50,Private,Data/Technology,Not reported by company,"Business to Business, Business to Consumer, Bu...",GitHub is a social network for programmers. Th...,GitHub is at code host with over 9.8 million r...,Not reported by company,Data Scientist,34
35,35,ibm,1912.0,0.0,10001.00,Public,Data/Technology,"IT and business hardware, software, and services",Not reported by company,"For five years, IBMers have been working with ...",Instrumented. Intelligent. Interconnected.\n\n...,"IT and business hardware, software, and services",Data Scientist,35
36,36,ibm,1912.0,0.0,10001.00,Public,Data/Technology,"IT and business hardware, software, and services",Not reported by company,"For five years, IBMers have been working with ...",Instrumented. Intelligent. Interconnected.\n\n...,"IT and business hardware, software, and services",Python Software Engineer,36
37,37,ibm,1912.0,0.0,10001.00,Public,Data/Technology,"IT and business hardware, software, and services",Not reported by company,"For five years, IBMers have been working with ...",Instrumented. Intelligent. Interconnected.\n\n...,"IT and business hardware, software, and services",Java Developer,37
38,38,ibm,1912.0,0.0,10001.00,Public,Data/Technology,"IT and business hardware, software, and services",Not reported by company,"For five years, IBMers have been working with ...",Instrumented. Intelligent. Interconnected.\n\n...,"IT and business hardware, software, and services",Cloud Engineer,38
39,39,,1912.0,0.0,10001.00,Public,Data/Technology,"IT and business hardware, software, and services",Not reported by company,"For five years, IBMers have been working with ...",Instrumented. Intelligent. Interconnected.\n\n...,"IT and business hardware, software, and services",Data Scientist,39
40,40,mlife,1868.0,10166.0,10001.00,Public,Insurance,Not reported by company,"Business to Business, Business to Consumer","MetLife, Inc. is a global provider of insuranc...","MetLife, Inc. is a provider of insurance, annu...",Not reported by company,Cloud Engineer,40
41,41,metlife,1868.0,10166.0,10001.00,Public,Insurance,Not reported by company,"Business to Business, Business to Consumer","MetLife, Inc. is a global provider of insuranc...","MetLife, Inc. is a provider of insurance, annu...",Not reported by company,Python Software Engineer,41
42,42,metlife,1868.0,10166.0,10001.00,Public,Insurance,Not reported by company,"Business to Business, Business to Consumer","MetLife, Inc. is a global provider of insuranc...","MetLife, Inc. is a provider of insurance, annu...",Not reported by company,Java Developer,42
43,43,,1868.0,10166.0,10001.00,Public,Insurance,Not reported by company,"Business to Business, Business to Consumer","MetLife, Inc. is a global provider of insuranc...","MetLife, Inc. is a provider of insurance, annu...",Not reported by company,Cloud Engineer,43
44,44,metlife,1868.0,10166.0,10001.00,Public,Insurance,Not reported by company,"Business to Business, Business to Consumer","MetLife, Inc. is a global provider of insuranc...","MetLife, Inc. is a provider of insurance, annu...",Not reported by company,Data Scientist,44
45,45,uber,2009.0,94105.0,3000.50,Private,Transportation,Not reported by company,Not reported by company,Uber aims to evolve the way the world moves: b...,Uber connects riders to drivers through apps t...,Not reported by company,Java Developer,45
46,46,ubr,2009.0,94105.0,3000.50,Private,Transportation,Not reported by company,Not reported by company,Uber aims to evolve the way the world moves: b...,Uber connects riders to drivers through apps t...,Not reported by company,Python Software Engineer,46
47,47,,2009.0,94105.0,3000.50,Private,Transportation,Not reported by company,Not reported by company,Uber aims to evolve the way the world moves: b...,Uber connects riders to drivers through apps t...,Not reported by company,Java Developer,47
48,48,uber,2009.0,94105.0,3000.50,Private,Transportation,Not reported by company,Not reported by company,Uber aims to evolve the way the world moves: b...,Uber connects riders to drivers through apps t...,Not reported by company,Cloud Engineer,48
49,49,uber,2009.0,94105.0,3000.50,Private,Transportation,Not reported by company,Not reported by company,Uber aims to evolve the way the world moves: b...,Uber connects riders to drivers through apps t...,Not reported by company,Data Scientist,49
50,50,yahoo,1994.0,94089.0,10001.00,Public,Lifestyle & Consumer,Not reported by company,Not reported by company,Yahoo! Inc. is a global Internet brand. To use...,Yahoo Inc. is a major internet brand with sear...,Not reported by company,Java Developer,50
51,51,yhoo,1994.0,94089.0,10001.00,Public,Lifestyle & Consumer,Not reported by company,Not reported by company,Yahoo! Inc. is a global Internet brand. To use...,Yahoo Inc. is a major internet brand with sear...,Not reported by company,Python Software Engineer,51
52,52,,1994.0,94089.0,10001.00,Public,Lifestyle & Consumer,Not reported by company,Not reported by company,Yahoo! Inc. is a global Internet brand. To use...,Yahoo Inc. is a major internet brand with sear...,Not reported by company,Java Developer,52
53,53,yahoo,1994.0,94089.0,10001.00,Public,Lifestyle & Consumer,Not reported by company,Not reported by company,Yahoo! Inc. is a global Internet brand. To use...,Yahoo Inc. is a major internet brand with sear...,Not reported by company,Cloud Engineer,53
54,54,yahoo,1994.0,94089.0,10001.00,Public,Lifestyle & Consumer,Not reported by company,Not reported by company,Yahoo! Inc. is a global Internet brand. To use...,Yahoo Inc. is a major internet brand with sear...,Not reported by company,Data Scientist,54
55,55,zurich,1912.0,60196.0,10001.00,Public,Insurance,Not reported by company,Not reported by company,Zurich Risk Room helps corporate customers gai...,The Zurich Risk Room is a proprietary global r...,Not reported by company,Cloud Engineer,55
56,56,zurich-insurance-risk-room,1912.0,60196.0,10001.00,Public,Insurance,Not reported by company,Not reported by company,Zurich Risk Room helps corporate customers gai...,The Zurich Risk Room is a proprietary global r...,Not reported by company,Python Software Engineer,56
57,57,zurich-insurance-risk-room,1912.0,60196.0,10001.00,Public,Insurance,Not reported by company,Not reported by company,Zurich Risk Room helps corporate customers gai...,The Zurich Risk Room is a proprietary global r...,Not reported by company,Java Developer,57
58,58,,1912.0,60196.0,10001.00,Public,Insurance,Not reported by company,Not reported by company,Zurich Risk Room helps corporate customers gai...,The Zurich Risk Room is a proprietary global r...,Not reported by company,Cloud Engineer,58
59,59,zurich-insurance-risk-room,1912.0,60196.0,10001.00,Public,Insurance,Not reported by company,Not reported by company,Zurich Risk Room helps corporate customers gai...,The Zurich Risk Room is a proprietary global r...,Not reported by company,Data Scientist,59

Cómo se realizó dentro de la compañía donde trabajamos una demo, se diseñó una UI que muestra todos los datos al usuario. Se vuelca el dataset utilizado a un Json que luego es usado por la UI para mostrar estos datos.

In [175]:
jobs_dict = []
for index, row in df.iterrows():
    job_dict = {'job_id':index,'job_name':row['job_name'],'company_name_id':row['company_name_id'],
                'description':row['description'],'description_short':row['description_short'],
                'zip_code':row['zip_code'],'full_time_employees':row['full_time_employees'],
                'year_founded':row['year_founded'],'industry':row['company_category']}
    jobs_dict.append(job_dict)
    
with open('jobs_list.json', 'w') as outfile:
    json.dump(jobs_dict, outfile)

Primero se filtrarán todas las columnas que realmente interesan para hacer el clusterin, en general las descripciones como no serán procesadas palabra por palabra no serán de utilidad. Y columnas como company type o revenue resource que no se cree aporten mucha información para clusterizar se eliminarán. Se eliminarán las siguientes columnas:
- Unnamed: 0
- company_type
- revenue_source
- business_model
- description
- description_short
- job_id

In [176]:
columns_to_delete = ['Unnamed: 0', 'company_type', 'revenue_source', 'business_model', 
                     'description', 'description_short', 'job_id', 'revenue_ source']

for column in columns_to_delete:
    df.drop(column, axis=1, inplace=True)
df

,company_name_id,year_founded,zip_code,full_time_employees,company_category,job_name
0,accuweather,1962.0,16803.0,350.50,Environment & Weather,Data Scientist
1,accwea,1962.0,16803.0,350.50,Environment & Weather,Python Software Engineer
2,accuweather,1962.0,16803.0,350.50,Environment & Weather,Java Developer
3,accuweather,1962.0,16803.0,350.50,Environment & Weather,Cloud Engineer
4,,1962.0,16803.0,350.50,Environment & Weather,Data Scientist
5,allianz,1896.0,10019.0,10001.00,Finance & Investment,Data Scientist
6,allnz,1896.0,10019.0,10001.00,Finance & Investment,Python Software Engineer
7,allianz,1896.0,10019.0,10001.00,Finance & Investment,Java Developer
8,allianz,1896.0,10019.0,10001.00,Finance & Investment,Cloud Engineer
9,,1896.0,10019.0,10001.00,Finance & Investment,Data Scientist
10,amazon-web-services,2007.0,98109.0,1533.68,Data/Technology,Python Software Engineer
11,,2007.0,98109.0,1533.68,Data/Technology,Python Software Engineer
12,amazon,2007.0,98109.0,1533.68,Data/Technology,Java Developer
13,aws,2007.0,98109.0,1533.68,Data/Technology,Cloud Engineer
14,amazon-web-services,2007.0,98109.0,1533.68,Data/Technology,Data Scientist
15,citigroup,1812.0,10022.0,10001.00,Finance & Investment,Cloud Engineer
16,citigroup,1812.0,10022.0,10001.00,Finance & Investment,Python Software Engineer
17,citi,1812.0,10022.0,10001.00,Finance & Investment,Java Developer
18,,1812.0,10022.0,10001.00,Finance & Investment,Cloud Engineer
19,citigroup,1812.0,10022.0,10001.00,Finance & Investment,Data Scientist
20,fujitsu,1935.0,94089.0,10001.00,Data/Technology,Data Scientist
21,fujitsu,1935.0,94089.0,10001.00,Data/Technology,Python Software Engineer
22,fujtsu,1935.0,94089.0,10001.00,Data/Technology,Java Developer
23,fujitsu,1935.0,94089.0,10001.00,Data/Technology,Cloud Engineer
24,,1935.0,94089.0,10001.00,Data/Technology,Data Scientist
25,garmin,1989.0,66062.0,7500.50,Geospatial/Mapping,Data Scientist
26,garmin,1989.0,66062.0,7500.50,Geospatial/Mapping,Python Software Engineer
27,gmin,1989.0,66062.0,7500.50,Geospatial/Mapping,Java Developer
28,garmin,1989.0,66062.0,7500.50,Geospatial/Mapping,Cloud Engineer
29,,1989.0,66062.0,7500.50,Geospatial/Mapping,Data Scientist
30,git,2008.0,94107.0,350.50,Data/Technology,Cloud Engineer
31,github,2008.0,94107.0,350.50,Data/Technology,Python Software Engineer
32,github,2008.0,94107.0,350.50,Data/Technology,Java Developer
33,,2008.0,94107.0,350.50,Data/Technology,Cloud Engineer
34,github,2008.0,94107.0,350.50,Data/Technology,Data Scientist
35,ibm,1912.0,0.0,10001.00,Data/Technology,Data Scientist
36,ibm,1912.0,0.0,10001.00,Data/Technology,Python Software Engineer
37,ibm,1912.0,0.0,10001.00,Data/Technology,Java Developer
38,ibm,1912.0,0.0,10001.00,Data/Technology,Cloud Engineer
39,,1912.0,0.0,10001.00,Data/Technology,Data Scientist
40,mlife,1868.0,10166.0,10001.00,Insurance,Cloud Engineer
41,metlife,1868.0,10166.0,10001.00,Insurance,Python Software Engineer
42,metlife,1868.0,10166.0,10001.00,Insurance,Java Developer
43,,1868.0,10166.0,10001.00,Insurance,Cloud Engineer
44,metlife,1868.0,10166.0,10001.00,Insurance,Data Scientist
45,uber,2009.0,94105.0,3000.50,Transportation,Java Developer
46,ubr,2009.0,94105.0,3000.50,Transportation,Python Software Engineer
47,,2009.0,94105.0,3000.50,Transportation,Java Developer
48,uber,2009.0,94105.0,3000.50,Transportation,Cloud Engineer
49,uber,2009.0,94105.0,3000.50,Transportation,Data Scientist
50,yahoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,Java Developer
51,yhoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,Python Software Engineer
52,,1994.0,94089.0,10001.00,Lifestyle & Consumer,Java Developer
53,yahoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,Cloud Engineer
54,yahoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,Data Scientist
55,zurich,1912.0,60196.0,10001.00,Insurance,Cloud Engineer
56,zurich-insurance-risk-room,1912.0,60196.0,10001.00,Insurance,Python Software Engineer
57,zurich-insurance-risk-room,1912.0,60196.0,10001.00,Insurance,Java Developer
58,,1912.0,60196.0,10001.00,Insurance,Cloud Engineer
59,zurich-insurance-risk-room,1912.0,60196.0,10001.00,Insurance,Data Scientist

In [177]:
df

,company_name_id,year_founded,zip_code,full_time_employees,company_category,job_name
0,accuweather,1962.0,16803.0,350.50,Environment & Weather,Data Scientist
1,accwea,1962.0,16803.0,350.50,Environment & Weather,Python Software Engineer
2,accuweather,1962.0,16803.0,350.50,Environment & Weather,Java Developer
3,accuweather,1962.0,16803.0,350.50,Environment & Weather,Cloud Engineer
4,,1962.0,16803.0,350.50,Environment & Weather,Data Scientist
5,allianz,1896.0,10019.0,10001.00,Finance & Investment,Data Scientist
6,allnz,1896.0,10019.0,10001.00,Finance & Investment,Python Software Engineer
7,allianz,1896.0,10019.0,10001.00,Finance & Investment,Java Developer
8,allianz,1896.0,10019.0,10001.00,Finance & Investment,Cloud Engineer
9,,1896.0,10019.0,10001.00,Finance & Investment,Data Scientist
10,amazon-web-services,2007.0,98109.0,1533.68,Data/Technology,Python Software Engineer
11,,2007.0,98109.0,1533.68,Data/Technology,Python Software Engineer
12,amazon,2007.0,98109.0,1533.68,Data/Technology,Java Developer
13,aws,2007.0,98109.0,1533.68,Data/Technology,Cloud Engineer
14,amazon-web-services,2007.0,98109.0,1533.68,Data/Technology,Data Scientist
15,citigroup,1812.0,10022.0,10001.00,Finance & Investment,Cloud Engineer
16,citigroup,1812.0,10022.0,10001.00,Finance & Investment,Python Software Engineer
17,citi,1812.0,10022.0,10001.00,Finance & Investment,Java Developer
18,,1812.0,10022.0,10001.00,Finance & Investment,Cloud Engineer
19,citigroup,1812.0,10022.0,10001.00,Finance & Investment,Data Scientist
20,fujitsu,1935.0,94089.0,10001.00,Data/Technology,Data Scientist
21,fujitsu,1935.0,94089.0,10001.00,Data/Technology,Python Software Engineer
22,fujtsu,1935.0,94089.0,10001.00,Data/Technology,Java Developer
23,fujitsu,1935.0,94089.0,10001.00,Data/Technology,Cloud Engineer
24,,1935.0,94089.0,10001.00,Data/Technology,Data Scientist
25,garmin,1989.0,66062.0,7500.50,Geospatial/Mapping,Data Scientist
26,garmin,1989.0,66062.0,7500.50,Geospatial/Mapping,Python Software Engineer
27,gmin,1989.0,66062.0,7500.50,Geospatial/Mapping,Java Developer
28,garmin,1989.0,66062.0,7500.50,Geospatial/Mapping,Cloud Engineer
29,,1989.0,66062.0,7500.50,Geospatial/Mapping,Data Scientist
30,git,2008.0,94107.0,350.50,Data/Technology,Cloud Engineer
31,github,2008.0,94107.0,350.50,Data/Technology,Python Software Engineer
32,github,2008.0,94107.0,350.50,Data/Technology,Java Developer
33,,2008.0,94107.0,350.50,Data/Technology,Cloud Engineer
34,github,2008.0,94107.0,350.50,Data/Technology,Data Scientist
35,ibm,1912.0,0.0,10001.00,Data/Technology,Data Scientist
36,ibm,1912.0,0.0,10001.00,Data/Technology,Python Software Engineer
37,ibm,1912.0,0.0,10001.00,Data/Technology,Java Developer
38,ibm,1912.0,0.0,10001.00,Data/Technology,Cloud Engineer
39,,1912.0,0.0,10001.00,Data/Technology,Data Scientist
40,mlife,1868.0,10166.0,10001.00,Insurance,Cloud Engineer
41,metlife,1868.0,10166.0,10001.00,Insurance,Python Software Engineer
42,metlife,1868.0,10166.0,10001.00,Insurance,Java Developer
43,,1868.0,10166.0,10001.00,Insurance,Cloud Engineer
44,metlife,1868.0,10166.0,10001.00,Insurance,Data Scientist
45,uber,2009.0,94105.0,3000.50,Transportation,Java Developer
46,ubr,2009.0,94105.0,3000.50,Transportation,Python Software Engineer
47,,2009.0,94105.0,3000.50,Transportation,Java Developer
48,uber,2009.0,94105.0,3000.50,Transportation,Cloud Engineer
49,uber,2009.0,94105.0,3000.50,Transportation,Data Scientist
50,yahoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,Java Developer
51,yhoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,Python Software Engineer
52,,1994.0,94089.0,10001.00,Lifestyle & Consumer,Java Developer
53,yahoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,Cloud Engineer
54,yahoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,Data Scientist
55,zurich,1912.0,60196.0,10001.00,Insurance,Cloud Engineer
56,zurich-insurance-risk-room,1912.0,60196.0,10001.00,Insurance,Python Software Engineer
57,zurich-insurance-risk-room,1912.0,60196.0,10001.00,Insurance,Java Developer
58,,1912.0,60196.0,10001.00,Insurance,Cloud Engineer
59,zurich-insurance-risk-room,1912.0,60196.0,10001.00,Insurance,Data Scientist

Antes de correr el modelo de clustering se deberá proceder a codificar las variables categóricas, ya que deben ser etiquetadas como variables numéricas y no como cadenas. Para este fin se utiliza un paquete de sklearn. Las columnas a codificar seran:
- company_name_id
- company_category
- job_name

In [178]:
column_name='company_name_id'
# Create a label (category) encoder object
le_name = preprocessing.LabelEncoder()
# Fit the encoder to the pandas column
le_name.fit(df[column_name])

column_category='company_category'
# Create a label (category) encoder object
le_category = preprocessing.LabelEncoder()
# Fit the encoder to the pandas column
le_category.fit(df[column_category])

column_job='job_name'
# Create a label (category) encoder object
le_job = preprocessing.LabelEncoder()
# Fit the encoder to the pandas column
le_job.fit(df[column_job])

LabelEncoder()

In [179]:
# View encoder mapping
dict(zip(le_name.classes_,le_name.transform(le_name.classes_)))

{' ': 0,
 'accuweather': 1,
 'accwea': 2,
 'allianz': 3,
 'allnz': 4,
 'amazon': 5,
 'amazon-web-services': 6,
 'aws': 7,
 'citi': 8,
 'citigroup': 9,
 'fujitsu': 10,
 'fujtsu': 11,
 'garmin': 12,
 'git': 13,
 'github': 14,
 'gmin': 15,
 'ibm': 16,
 'metlife': 17,
 'mlife': 18,
 'uber': 19,
 'ubr': 20,
 'yahoo': 21,
 'yhoo': 22,
 'zurich': 23,
 'zurich-insurance-risk-room': 24}

In [180]:
# View encoder mapping
dict(zip(le_category.classes_,le_category.transform(le_category.classes_)))

{'Data/Technology': 0,
 'Environment & Weather': 1,
 'Finance & Investment': 2,
 'Geospatial/Mapping': 3,
 'Insurance': 4,
 'Lifestyle & Consumer': 5,
 'Transportation': 6}

In [181]:
# View encoder mapping
dict(zip(le_job.classes_,le_job.transform(le_job.classes_)))

{'Cloud Engineer': 0,
 'Data Scientist': 1,
 'Java Developer': 2,
 'Python Software Engineer': 3}

In [182]:
# Apply the fitted encoder to the pandas column
df[column_name] = le_name.transform(df[column_name])

# Apply the fitted encoder to the pandas column
df[column_category] = le_category.transform(df[column_category])

# Apply the fitted encoder to the pandas column
df[column_job] = le_job.transform(df[column_job])

df

,company_name_id,year_founded,zip_code,full_time_employees,company_category,job_name
0,1,1962.0,16803.0,350.50,1,1
1,2,1962.0,16803.0,350.50,1,3
2,1,1962.0,16803.0,350.50,1,2
3,1,1962.0,16803.0,350.50,1,0
4,0,1962.0,16803.0,350.50,1,1
5,3,1896.0,10019.0,10001.00,2,1
6,4,1896.0,10019.0,10001.00,2,3
7,3,1896.0,10019.0,10001.00,2,2
8,3,1896.0,10019.0,10001.00,2,0
9,0,1896.0,10019.0,10001.00,2,1
10,6,2007.0,98109.0,1533.68,0,3
11,0,2007.0,98109.0,1533.68,0,3
12,5,2007.0,98109.0,1533.68,0,2
13,7,2007.0,98109.0,1533.68,0,0
14,6,2007.0,98109.0,1533.68,0,1
15,9,1812.0,10022.0,10001.00,2,0
16,9,1812.0,10022.0,10001.00,2,3
17,8,1812.0,10022.0,10001.00,2,2
18,0,1812.0,10022.0,10001.00,2,0
19,9,1812.0,10022.0,10001.00,2,1
20,10,1935.0,94089.0,10001.00,0,1
21,10,1935.0,94089.0,10001.00,0,3
22,11,1935.0,94089.0,10001.00,0,2
23,10,1935.0,94089.0,10001.00,0,0
24,0,1935.0,94089.0,10001.00,0,1
25,12,1989.0,66062.0,7500.50,3,1
26,12,1989.0,66062.0,7500.50,3,3
27,15,1989.0,66062.0,7500.50,3,2
28,12,1989.0,66062.0,7500.50,3,0
29,0,1989.0,66062.0,7500.50,3,1
30,13,2008.0,94107.0,350.50,0,0
31,14,2008.0,94107.0,350.50,0,3
32,14,2008.0,94107.0,350.50,0,2
33,0,2008.0,94107.0,350.50,0,0
34,14,2008.0,94107.0,350.50,0,1
35,16,1912.0,0.0,10001.00,0,1
36,16,1912.0,0.0,10001.00,0,3
37,16,1912.0,0.0,10001.00,0,2
38,16,1912.0,0.0,10001.00,0,0
39,0,1912.0,0.0,10001.00,0,1
40,18,1868.0,10166.0,10001.00,4,0
41,17,1868.0,10166.0,10001.00,4,3
42,17,1868.0,10166.0,10001.00,4,2
43,0,1868.0,10166.0,10001.00,4,0
44,17,1868.0,10166.0,10001.00,4,1
45,19,2009.0,94105.0,3000.50,6,2
46,20,2009.0,94105.0,3000.50,6,3
47,0,2009.0,94105.0,3000.50,6,2
48,19,2009.0,94105.0,3000.50,6,0
49,19,2009.0,94105.0,3000.50,6,1
50,21,1994.0,94089.0,10001.00,5,2
51,22,1994.0,94089.0,10001.00,5,3
52,0,1994.0,94089.0,10001.00,5,2
53,21,1994.0,94089.0,10001.00,5,0
54,21,1994.0,94089.0,10001.00,5,1
55,23,1912.0,60196.0,10001.00,4,0
56,24,1912.0,60196.0,10001.00,4,3
57,24,1912.0,60196.0,10001.00,4,2
58,0,1912.0,60196.0,10001.00,4,0
59,24,1912.0,60196.0,10001.00,4,1

Primero se probará el algoritmo de clustering con 12 cluster que es el número de empresas que se sabe, existen en nuestro set de datos. Luego bajo una evaluación con testigos se buscará el número óptimo de clusters.

In [183]:
num_clusters = 12

km = KMeans(n_clusters=num_clusters)
km.fit(df)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=12, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [184]:
clusters = km.labels_.tolist()

In [185]:
# Recuento del número de elementos en cada cluster
for i in range(num_clusters):
    print ('El cluster %i tiene %i elementos' % (i, clusters.count(i)))

El cluster 0 tiene 5 elementos
El cluster 1 tiene 5 elementos
El cluster 2 tiene 5 elementos
El cluster 3 tiene 5 elementos
El cluster 4 tiene 5 elementos
El cluster 5 tiene 5 elementos
El cluster 6 tiene 5 elementos
El cluster 7 tiene 5 elementos
El cluster 8 tiene 5 elementos
El cluster 9 tiene 5 elementos
El cluster 10 tiene 5 elementos
El cluster 11 tiene 5 elementos

In [186]:
# Get cluster assignment labels
labels = km.labels_

Se diseñará ahora una métrica de evaluación basada en testigos para poder tener una idea de que tan bien está andando nuestro algoritmo. Además servirá para estimar el número óptimo de clusters.

In [187]:
# Computo de la precision del algoritmo en base a un testigo
def compute_cluster_score(cluster, testigo):
    clases_dict = {}
    for post in cluster:
        label = post[testigo][post.index.values[0]]
        if not str(label) in clases_dict.keys():
            clases_dict[str(label)] = []
            clases_dict[str(label)].append(label)
        else:
            clases_dict[str(label)].append(label)
    bigger_class = 0
    for element in clases_dict:
        if len(clases_dict[element]) > bigger_class:
            bigger_class = len(clases_dict[element])
    
    return (bigger_class*1.0)/len(cluster)

Se genera un diccionario con los diferentes clusters calculados. Cada cluster posee adentro una lista de Dataframes, y cada Dataframe corresponde a una línea del DataFrame original. Este diccionario nos sirve para poder tener toda la información separada en los correspondientes clusters.

In [188]:
clusters_dict = {}
for idx, label in enumerate(labels):
    if not str(label) in clusters_dict.keys():
        clusters_dict[str(label)] = []
        clusters_dict[str(label)].append(df_original.loc[[idx]])
    else:
        clusters_dict[str(label)].append(df_original.loc[[idx]])

Ahora se procede a realizar la evaluación por testigos. Debido a que no se tiene ninguna feature que sea totalmente característica de un solo cluster y por lo tanto se pueden repetir las mismas de un cluster a otro, se elegirán dos features como testigos ya que hay muchas menos probabilidades de que se repitan las dos juntas. Se eligieron como features testigos para evaluar si los clusters están bien agrupados las features: year_founded y zip_code.
La función compute_cluster_score() toma el testigo y se fija el value mayoritario para esa categoría, y luego retorna la relación entre la cantidad de estos value sobre el total de elementos del cluster. Es decir si el cluster está correctamente agrupado el score debe dar 1. El score total de cada cluster será el menor de los dos calculados.

In [189]:
for cluster in clusters_dict:
    score_1 = compute_cluster_score(clusters_dict[cluster], 'year_founded')
    score_2 = compute_cluster_score(clusters_dict[cluster], 'zip_code')
    if score_1 < score_2:
        score = score_1
    else:
        score = score_2
    print("Score para Cluster "+ str(cluster)+": " + 
          str(score))

Score para Cluster 0: 1.0
Score para Cluster 8: 1.0
Score para Cluster 7: 1.0
Score para Cluster 1: 1.0
Score para Cluster 4: 1.0
Score para Cluster 11: 1.0
Score para Cluster 10: 1.0
Score para Cluster 6: 1.0
Score para Cluster 5: 1.0
Score para Cluster 9: 1.0
Score para Cluster 2: 1.0
Score para Cluster 3: 1.0

Cómo se puede observar el algoritmo ha agrupado a los puestos de trabajo tal cual se esperaba. Y las métricas de evaluación hasta este punto parecen funcionar correctamente. Este análisis fue hecho conociendo el número de clusters en que se debería dividir el conjunto. A continuación se utilizará la métrica de evaluación para encontrar el número de clusters óptimo, suponiendo que es desconocido:

In [190]:
num_clusters = 1
mean_score = 0

while(mean_score < 0.99):
    num_clusters += 1
    print('Prueba con numero de clusters: ' + str(num_clusters))
    km = KMeans(n_clusters=num_clusters)
    km.fit(df)

    clusters = km.labels_.tolist()

    # Recuento del número de elementos en cada cluster
    for i in range(num_clusters):
        print ('    El cluster %i tiene %i elementos' % (i, clusters.count(i)))

    # Get cluster assignment labels
    labels = km.labels_

    clusters_dict = {}
    for idx, label in enumerate(labels):
        if not str(label) in clusters_dict.keys():
            clusters_dict[str(label)] = []
            clusters_dict[str(label)].append(df_original.loc[[idx]])
        else:
            clusters_dict[str(label)].append(df_original.loc[[idx]])

    total_score = 0
    for cluster in clusters_dict:
        score_1 = compute_cluster_score(clusters_dict[cluster], 'year_founded')
        score_2 = compute_cluster_score(clusters_dict[cluster], 'zip_code')
        if score_1 < score_2:
            score = score_1
        else:
            score = score_2
        print("    Score para Cluster "+ str(cluster)+": " + 
              str(score))
        total_score = total_score + score
    mean_score = (total_score * 1.0) / num_clusters
    print('    Score Promedio: ' + str(mean_score))

Prueba con numero de clusters: 2
    El cluster 0 tiene 25 elementos
    El cluster 1 tiene 35 elementos
    Score para Cluster 0: 0.2
    Score para Cluster 1: 0.14285714285714285
    Score Promedio: 0.17142857142857143
Prueba con numero de clusters: 3
    El cluster 0 tiene 25 elementos
    El cluster 1 tiene 25 elementos
    El cluster 2 tiene 10 elementos
    Score para Cluster 0: 0.2
    Score para Cluster 1: 0.2
    Score para Cluster 2: 0.5
    Score Promedio: 0.3
Prueba con numero de clusters: 4
    El cluster 0 tiene 5 elementos
    El cluster 1 tiene 25 elementos
    El cluster 2 tiene 10 elementos
    El cluster 3 tiene 20 elementos
    Score para Cluster 0: 1.0
    Score para Cluster 3: 0.25
    Score para Cluster 2: 0.5
    Score para Cluster 1: 0.2
    Score Promedio: 0.4875
Prueba con numero de clusters: 5
    El cluster 0 tiene 20 elementos
    El cluster 1 tiene 15 elementos
    El cluster 2 tiene 10 elementos
    El cluster 3 tiene 10 elementos
    El cluster 4 tiene 5 elementos
    Score para Cluster 4: 1.0
    Score para Cluster 0: 0.25
    Score para Cluster 3: 0.5
    Score para Cluster 2: 0.5
    Score para Cluster 1: 0.3333333333333333
    Score Promedio: 0.5166666666666667
Prueba con numero de clusters: 6
    El cluster 0 tiene 5 elementos
    El cluster 1 tiene 10 elementos
    El cluster 2 tiene 10 elementos
    El cluster 3 tiene 15 elementos
    El cluster 4 tiene 15 elementos
    El cluster 5 tiene 5 elementos
    Score para Cluster 0: 1.0
    Score para Cluster 3: 0.3333333333333333
    Score para Cluster 1: 0.5
    Score para Cluster 5: 1.0
    Score para Cluster 4: 0.3333333333333333
    Score para Cluster 2: 0.5
    Score Promedio: 0.611111111111111
Prueba con numero de clusters: 7
    El cluster 0 tiene 5 elementos
    El cluster 1 tiene 15 elementos
    El cluster 2 tiene 5 elementos
    El cluster 3 tiene 15 elementos
    El cluster 4 tiene 5 elementos
    El cluster 5 tiene 10 elementos
    El cluster 6 tiene 5 elementos
    Score para Cluster 0: 1.0
    Score para Cluster 3: 0.3333333333333333
    Score para Cluster 6: 1.0
    Score para Cluster 1: 0.3333333333333333
    Score para Cluster 5: 0.5
    Score para Cluster 4: 1.0
    Score para Cluster 2: 1.0
    Score Promedio: 0.738095238095238
Prueba con numero de clusters: 8
    El cluster 0 tiene 5 elementos
    El cluster 1 tiene 15 elementos
    El cluster 2 tiene 10 elementos
    El cluster 3 tiene 5 elementos
    El cluster 4 tiene 5 elementos
    El cluster 5 tiene 10 elementos
    El cluster 6 tiene 5 elementos
    El cluster 7 tiene 5 elementos
    Score para Cluster 3: 1.0
    Score para Cluster 0: 1.0
    Score para Cluster 7: 1.0
    Score para Cluster 1: 0.3333333333333333
    Score para Cluster 5: 0.5
    Score para Cluster 6: 1.0
    Score para Cluster 4: 1.0
    Score para Cluster 2: 0.5
    Score Promedio: 0.7916666666666667
Prueba con numero de clusters: 9
    El cluster 0 tiene 15 elementos
    El cluster 1 tiene 5 elementos
    El cluster 2 tiene 5 elementos
    El cluster 3 tiene 5 elementos
    El cluster 4 tiene 5 elementos
    El cluster 5 tiene 10 elementos
    El cluster 6 tiene 5 elementos
    El cluster 7 tiene 5 elementos
    El cluster 8 tiene 5 elementos
    Score para Cluster 3: 1.0
    Score para Cluster 0: 0.3333333333333333
    Score para Cluster 8: 1.0
    Score para Cluster 6: 1.0
    Score para Cluster 1: 1.0
    Score para Cluster 5: 0.5
    Score para Cluster 4: 1.0
    Score para Cluster 7: 1.0
    Score para Cluster 2: 1.0
    Score Promedio: 0.8703703703703703
Prueba con numero de clusters: 10
    El cluster 0 tiene 5 elementos
    El cluster 1 tiene 10 elementos
    El cluster 2 tiene 5 elementos
    El cluster 3 tiene 5 elementos
    El cluster 4 tiene 5 elementos
    El cluster 5 tiene 10 elementos
    El cluster 6 tiene 5 elementos
    El cluster 7 tiene 5 elementos
    El cluster 8 tiene 5 elementos
    El cluster 9 tiene 5 elementos
    Score para Cluster 3: 1.0
    Score para Cluster 7: 1.0
    Score para Cluster 8: 1.0
    Score para Cluster 6: 1.0
    Score para Cluster 1: 0.5
    Score para Cluster 5: 0.5
    Score para Cluster 9: 1.0
    Score para Cluster 4: 1.0
    Score para Cluster 2: 1.0
    Score para Cluster 0: 1.0
    Score Promedio: 0.9
Prueba con numero de clusters: 11
    El cluster 0 tiene 5 elementos
    El cluster 1 tiene 5 elementos
    El cluster 2 tiene 5 elementos
    El cluster 3 tiene 5 elementos
    El cluster 4 tiene 5 elementos
    El cluster 5 tiene 10 elementos
    El cluster 6 tiene 5 elementos
    El cluster 7 tiene 5 elementos
    El cluster 8 tiene 5 elementos
    El cluster 9 tiene 5 elementos
    El cluster 10 tiene 5 elementos
    Score para Cluster 3: 1.0
    Score para Cluster 0: 1.0
    Score para Cluster 8: 1.0
    Score para Cluster 10: 1.0
    Score para Cluster 7: 1.0
    Score para Cluster 1: 1.0
    Score para Cluster 5: 0.5
    Score para Cluster 9: 1.0
    Score para Cluster 4: 1.0
    Score para Cluster 2: 1.0
    Score para Cluster 6: 1.0
    Score Promedio: 0.9545454545454546
Prueba con numero de clusters: 12
    El cluster 0 tiene 5 elementos
    El cluster 1 tiene 5 elementos
    El cluster 2 tiene 5 elementos
    El cluster 3 tiene 5 elementos
    El cluster 4 tiene 5 elementos
    El cluster 5 tiene 5 elementos
    El cluster 6 tiene 5 elementos
    El cluster 7 tiene 5 elementos
    El cluster 8 tiene 5 elementos
    El cluster 9 tiene 5 elementos
    El cluster 10 tiene 5 elementos
    El cluster 11 tiene 5 elementos
    Score para Cluster 0: 1.0
    Score para Cluster 8: 1.0
    Score para Cluster 7: 1.0
    Score para Cluster 1: 1.0
    Score para Cluster 4: 1.0
    Score para Cluster 11: 1.0
    Score para Cluster 10: 1.0
    Score para Cluster 6: 1.0
    Score para Cluster 5: 1.0
    Score para Cluster 9: 1.0
    Score para Cluster 2: 1.0
    Score para Cluster 3: 1.0
    Score Promedio: 1.0

In [191]:
num_clusters

12

En el bloque anterior, se fue incrementando el número de clusters hasta llegar a un score basado en la evaluación por testigos superior al 0.99. Cómo era de esperar por el análisis previo y conocimiento del dataset el número de clusters óptimo es 12.

Cómo se ha visto el algoritmo de clustering funciona muy bien sobre el presente set de datos. Recordamos que el dataset ha sido armado a mano, y lo único que varía dentro de una empresa es el puesto de trabajo o el nombre de la empresa, el resto de las features para una misma empresa son exactamente iguales. Esto es causa probablemente de que la clusterización sea "perfecta". Y nos es de utilidad para la demo en donde se quiere mostrar el potencial del algoritmo y su funcionamiento (sin mostrar resultados erróneos), por supuesto que para un dataset tomado de una base real esto no será tan así y los clusters contendrán elementos que no corresponden a los mismos. Debido a estos muy buenos resultados, variando otros parámetros aparte del K, o a través de la utilización de embeddings los resultados no cambiarán significativamente. De todos modos se hará a continuación una variación de parámetros y el uso de embeddings ya que en un futuro cuando los datos contengan mucho más ruidos estas acciones serán de gran utilidad para mejorar los resultados.

Se comienza variando el número de veces en que se inicializan las semillas (por default es 10) y el número de iteraciones (default 300). Si utilizamos K = 12 no se podrá observar ningún cambió, por lo que se utiliza K = 10 para poder hacer un análisis comparando con la corrida anterior.

In [192]:
param_grid = {
    'n_clusters': [10],
    'n_init': [20, 30, 40],
    'max_iter': [500, 1000],
    }

params_list = list(ParameterGrid(param_grid))

for params in params_list:
    print('Parametros: ' + str(params))
    num_clusters = params['n_clusters']
    km = KMeans()
    km.set_params(**params)
    km.fit(df)

    clusters = km.labels_.tolist()

    # Recuento del número de elementos en cada cluster
    for i in range(num_clusters):
        print ('    El cluster %i tiene %i elementos' % (i, clusters.count(i)))

    # Get cluster assignment labels
    labels = km.labels_

    clusters_dict = {}
    for idx, label in enumerate(labels):
        if not str(label) in clusters_dict.keys():
            clusters_dict[str(label)] = []
            clusters_dict[str(label)].append(df_original.loc[[idx]])
        else:
            clusters_dict[str(label)].append(df_original.loc[[idx]])

    total_score = 0
    for cluster in clusters_dict:
        score_1 = compute_cluster_score(clusters_dict[cluster], 'year_founded')
        score_2 = compute_cluster_score(clusters_dict[cluster], 'zip_code')
        if score_1 < score_2:
            score = score_1
        else:
            score = score_2
        print("    Score para Cluster "+ str(cluster)+": " + 
              str(score))
        total_score = total_score + score
    mean_score = (total_score * 1.0) / num_clusters
    print('    Score Promedio: ' + str(mean_score))

Parametros: {'max_iter': 500, 'n_clusters': 10, 'n_init': 20}
    El cluster 0 tiene 5 elementos
    El cluster 1 tiene 10 elementos
    El cluster 2 tiene 5 elementos
    El cluster 3 tiene 10 elementos
    El cluster 4 tiene 5 elementos
    El cluster 5 tiene 5 elementos
    El cluster 6 tiene 5 elementos
    El cluster 7 tiene 5 elementos
    El cluster 8 tiene 5 elementos
    El cluster 9 tiene 5 elementos
    Score para Cluster 4: 1.0
    Score para Cluster 3: 0.5
    Score para Cluster 8: 1.0
    Score para Cluster 7: 1.0
    Score para Cluster 1: 0.5
    Score para Cluster 5: 1.0
    Score para Cluster 9: 1.0
    Score para Cluster 0: 1.0
    Score para Cluster 2: 1.0
    Score para Cluster 6: 1.0
    Score Promedio: 0.9
Parametros: {'max_iter': 500, 'n_clusters': 10, 'n_init': 30}
    El cluster 0 tiene 10 elementos
    El cluster 1 tiene 10 elementos
    El cluster 2 tiene 5 elementos
    El cluster 3 tiene 5 elementos
    El cluster 4 tiene 5 elementos
    El cluster 5 tiene 5 elementos
    El cluster 6 tiene 5 elementos
    El cluster 7 tiene 5 elementos
    El cluster 8 tiene 5 elementos
    El cluster 9 tiene 5 elementos
    Score para Cluster 4: 1.0
    Score para Cluster 0: 0.5
    Score para Cluster 8: 1.0
    Score para Cluster 7: 1.0
    Score para Cluster 1: 0.5
    Score para Cluster 5: 1.0
    Score para Cluster 9: 1.0
    Score para Cluster 2: 1.0
    Score para Cluster 6: 1.0
    Score para Cluster 3: 1.0
    Score Promedio: 0.9
Parametros: {'max_iter': 500, 'n_clusters': 10, 'n_init': 40}
    El cluster 0 tiene 5 elementos
    El cluster 1 tiene 5 elementos
    El cluster 2 tiene 5 elementos
    El cluster 3 tiene 10 elementos
    El cluster 4 tiene 5 elementos
    El cluster 5 tiene 5 elementos
    El cluster 6 tiene 5 elementos
    El cluster 7 tiene 5 elementos
    El cluster 8 tiene 5 elementos
    El cluster 9 tiene 10 elementos
    Score para Cluster 4: 1.0
    Score para Cluster 3: 0.5
    Score para Cluster 8: 1.0
    Score para Cluster 7: 1.0
    Score para Cluster 1: 1.0
    Score para Cluster 5: 1.0
    Score para Cluster 9: 0.5
    Score para Cluster 0: 1.0
    Score para Cluster 2: 1.0
    Score para Cluster 6: 1.0
    Score Promedio: 0.9
Parametros: {'max_iter': 1000, 'n_clusters': 10, 'n_init': 20}
    El cluster 0 tiene 5 elementos
    El cluster 1 tiene 10 elementos
    El cluster 2 tiene 5 elementos
    El cluster 3 tiene 10 elementos
    El cluster 4 tiene 5 elementos
    El cluster 5 tiene 5 elementos
    El cluster 6 tiene 5 elementos
    El cluster 7 tiene 5 elementos
    El cluster 8 tiene 5 elementos
    El cluster 9 tiene 5 elementos
    Score para Cluster 4: 1.0
    Score para Cluster 7: 1.0
    Score para Cluster 8: 1.0
    Score para Cluster 6: 1.0
    Score para Cluster 1: 0.5
    Score para Cluster 5: 1.0
    Score para Cluster 9: 1.0
    Score para Cluster 0: 1.0
    Score para Cluster 2: 1.0
    Score para Cluster 3: 0.5
    Score Promedio: 0.9
Parametros: {'max_iter': 1000, 'n_clusters': 10, 'n_init': 30}
    El cluster 0 tiene 5 elementos
    El cluster 1 tiene 5 elementos
    El cluster 2 tiene 5 elementos
    El cluster 3 tiene 5 elementos
    El cluster 4 tiene 5 elementos
    El cluster 5 tiene 10 elementos
    El cluster 6 tiene 5 elementos
    El cluster 7 tiene 5 elementos
    El cluster 8 tiene 5 elementos
    El cluster 9 tiene 10 elementos
    Score para Cluster 4: 1.0
    Score para Cluster 6: 1.0
    Score para Cluster 8: 1.0
    Score para Cluster 7: 1.0
    Score para Cluster 1: 1.0
    Score para Cluster 5: 0.5
    Score para Cluster 9: 0.5
    Score para Cluster 0: 1.0
    Score para Cluster 2: 1.0
    Score para Cluster 3: 1.0
    Score Promedio: 0.9
Parametros: {'max_iter': 1000, 'n_clusters': 10, 'n_init': 40}
    El cluster 0 tiene 5 elementos
    El cluster 1 tiene 10 elementos
    El cluster 2 tiene 5 elementos
    El cluster 3 tiene 10 elementos
    El cluster 4 tiene 5 elementos
    El cluster 5 tiene 5 elementos
    El cluster 6 tiene 5 elementos
    El cluster 7 tiene 5 elementos
    El cluster 8 tiene 5 elementos
    El cluster 9 tiene 5 elementos
    Score para Cluster 0: 1.0
    Score para Cluster 3: 0.5
    Score para Cluster 8: 1.0
    Score para Cluster 6: 1.0
    Score para Cluster 1: 0.5
    Score para Cluster 5: 1.0
    Score para Cluster 9: 1.0
    Score para Cluster 4: 1.0
    Score para Cluster 7: 1.0
    Score para Cluster 2: 1.0
    Score Promedio: 0.9

## Análisis de los resultados obtenidos ##
En un principio al buscar el número óptimo de clusters puede observarse como el score de la evaluación diseñada va subiendo conforme nos acercamos al número de compañías que se conoce de antemano tiene el dataset (12). Para este K = 12, el score da 1. En un caso real por supuesto, con datos más ruidosos, y con un volumen de datos mayor, es muy dificil que este score de 1 y habría que fijar probablemente el umbral para encontrar el número óptimo de clusters (actualmente 0.99) en un número menor. Como se puede observar para el número de clusters igual a 12, los datos jobs se distribuyen en forma pareja dentro de cada cluster (5 por cluster), esto tiene sentido ya que se habían generado 5 job posts por compañía. Además puede observarse como se reasignan estos jobs a otros clusters, por ejemplo con K = 10, se tendrán "dos compañías menos", es decir el algoritmo va a distribuir los datos de dos compañías en otros clusters en base a determinadas similitudes.
Cómo era de esperar, al variar los parámetros no se ha obtenido diferencia en el score total para cada conjunto de parámetros. Si se puede ver que el score individual de cada cluster cambia. Esto es porque estamos cambiando el número de veces en que se inicializan las semillas, y además no le fijamos el random_seed, lo cual genera que para cada corrida el algoritmo agrupe en base a diferentes similitudes. Además de agrupar por diferentes similitudes, los clusters que se forman no tendrán en cada corrida los mismos elementos. Para evitar esto deberíamos fijar el random_seed para que corra siempre de la misma manera. Notese que para un mismo K el número de elementos reasignados es siempre el mismo. Por ejemplo para K = 10 siempre se encuentran dos clusters con el doble de elemento de los otros, esto es porque reasigna "una compañía completa" a otro cluster.
Cómo se ha podido observar al disminuir a 10 clusters, los elementos son reasignados siempre sobre los clusters 1, 3, 5 y 9. ¿Por qué se da esto? el algoritmo se ve forzado a encontrar similitudes entre jobs de diferentes compañías ya que el número en que agrupa los datos se ha reducido.
Se puede observar que agrupa los jobs de diferentes compañías de la siguiente manera:
- Allianz y citigroup. Probablemente por terner la misma industry.
- Yahoo y fujitsu. Probablemente porque comparten el mismo zipcode.
- Ibm y Zurich. Probablemente por poseer el mismo año de fundación.

## Embeddings ##
Ahora se procede a utilizar embeddings antes de aplicar el clustering. Por lo que se ha visto antes en este momento no producirá cambios sobre los resultados (al menos positivos), pero puede servir a futuro para datos más ruidosos o de mayor volumen. Cómo se trabaja con todas variables categóricas, se aplicará PCA, utilizando dos componentes principales. Se volverá a hacer el barrido del K para evaluar el comportamiento

In [193]:
pca = PCA(n_components=2)
principalComponents_train = pca.fit_transform(df)
df_projected = pd.DataFrame(data = principalComponents_train, columns = ['PCA_1', 'PCA_2'])
print('Shape df original: '+ str(df.shape))
print('Shape df con PCA: '+ str(df_projected.shape))

Shape df original: (60, 6)
Shape df con PCA: (60, 2)

In [194]:
df_projected

           PCA_1        PCA_2
0   36897.484186  7973.838660
1   36897.484140  7973.837962
2   36897.484183  7973.838668
3   36897.484188  7973.838653
4   36897.484227  7973.839374
5   44048.677285 -1408.035954
6   44048.677240 -1408.036652
7   44048.677283 -1408.035946
8   44048.677288 -1408.035961
9   44048.677408 -1408.033814
10 -44302.400886  3655.772894
11 -44302.400641  3655.777173
12 -44302.400843  3655.773600
13 -44302.400920  3655.772159
14 -44302.400882  3655.772880
15  44045.779592 -1408.703391
16  44045.779585 -1408.703369
17  44045.779628 -1408.702663
18  44045.779960 -1408.696973
19  44045.779589 -1408.703383
20 -39958.771249 -4650.479212
21 -39958.771253 -4650.479197
22 -39958.771292 -4650.479917
23 -39958.771246 -4650.479219
24 -39958.770839 -4650.472081
25 -12049.134949 -1070.504772
26 -12049.134953 -1070.504757
27 -12049.135074 -1070.506904
28 -12049.134946 -1070.504779
29 -12049.134458 -1070.496214
30 -40349.010863  4992.410983
31 -40349.010911  4992.410291
32 -40349.010909  4992.410284
33 -40349.010331  4992.420253
34 -40349.010906  4992.410277
35  54060.197535 -1021.494326
36  54060.197530 -1021.494312
37  54060.197533 -1021.494319
38  54060.197537 -1021.494333
39  54060.198190 -1021.482916
40  43901.819556 -1413.899466
41  43901.819590 -1413.898731
42  43901.819593 -1413.898739
43  43901.820293 -1413.886630
44  43901.819595 -1413.898746
45 -40244.818180  2344.518384
46 -40244.818223  2344.517678
47 -40244.817402  2344.531933
48 -40244.818175  2344.518370
49 -40244.818177  2344.518377
50 -39958.842191 -4650.103395
51 -39958.842234 -4650.104101
52 -39958.841332 -4650.088420
53 -39958.842187 -4650.103409
54 -39958.842189 -4650.103402
55  -6090.980980 -3343.340551
56  -6090.981027 -3343.341243
57  -6090.981025 -3343.341250
58  -6090.980038 -3343.324150
59  -6090.981023 -3343.341257

In [195]:
num_clusters = 1
mean_score = 0

while(mean_score < 0.99):
    num_clusters += 1
    print('Prueba con numero de clusters: ' + str(num_clusters))
    km = KMeans(n_clusters=num_clusters)
    km.fit(df_projected)

    clusters = km.labels_.tolist()

    # Recuento del número de elementos en cada cluster
    for i in range(num_clusters):
        print ('    El cluster %i tiene %i elementos' % (i, clusters.count(i)))

    # Get cluster assignment labels
    labels = km.labels_

    clusters_dict = {}
    for idx, label in enumerate(labels):
        if not str(label) in clusters_dict.keys():
            clusters_dict[str(label)] = []
            clusters_dict[str(label)].append(df_original.loc[[idx]])
        else:
            clusters_dict[str(label)].append(df_original.loc[[idx]])

    total_score = 0
    for cluster in clusters_dict:
        score_1 = compute_cluster_score(clusters_dict[cluster], 'year_founded')
        score_2 = compute_cluster_score(clusters_dict[cluster], 'zip_code')
        if score_1 < score_2:
            score = score_1
        else:
            score = score_2
        print("    Score para Cluster "+ str(cluster)+": " + 
              str(score))
        total_score = total_score + score
    mean_score = (total_score * 1.0) / num_clusters
    print('    Score Promedio: ' + str(mean_score))

Prueba con numero de clusters: 2
    El cluster 0 tiene 35 elementos
    El cluster 1 tiene 25 elementos
    Score para Cluster 0: 0.14285714285714285
    Score para Cluster 1: 0.2
    Score Promedio: 0.17142857142857143
Prueba con numero de clusters: 3
    El cluster 0 tiene 25 elementos
    El cluster 1 tiene 25 elementos
    El cluster 2 tiene 10 elementos
    Score para Cluster 0: 0.2
    Score para Cluster 1: 0.2
    Score para Cluster 2: 0.5
    Score Promedio: 0.3
Prueba con numero de clusters: 4
    El cluster 0 tiene 10 elementos
    El cluster 1 tiene 5 elementos
    El cluster 2 tiene 25 elementos
    El cluster 3 tiene 20 elementos
    Score para Cluster 3: 0.25
    Score para Cluster 1: 1.0
    Score para Cluster 0: 0.5
    Score para Cluster 2: 0.2
    Score Promedio: 0.4875
Prueba con numero de clusters: 5
    El cluster 0 tiene 10 elementos
    El cluster 1 tiene 20 elementos
    El cluster 2 tiene 15 elementos
    El cluster 3 tiene 10 elementos
    El cluster 4 tiene 5 elementos
    Score para Cluster 4: 1.0
    Score para Cluster 1: 0.25
    Score para Cluster 0: 0.5
    Score para Cluster 2: 0.3333333333333333
    Score para Cluster 3: 0.5
    Score Promedio: 0.5166666666666667
Prueba con numero de clusters: 6
    El cluster 0 tiene 10 elementos
    El cluster 1 tiene 15 elementos
    El cluster 2 tiene 10 elementos
    El cluster 3 tiene 15 elementos
    El cluster 4 tiene 5 elementos
    El cluster 5 tiene 5 elementos
    Score para Cluster 4: 1.0
    Score para Cluster 0: 0.5
    Score para Cluster 1: 0.3333333333333333
    Score para Cluster 5: 1.0
    Score para Cluster 2: 0.5
    Score para Cluster 3: 0.3333333333333333
    Score Promedio: 0.611111111111111
Prueba con numero de clusters: 7
    El cluster 0 tiene 15 elementos
    El cluster 1 tiene 5 elementos
    El cluster 2 tiene 5 elementos
    El cluster 3 tiene 15 elementos
    El cluster 4 tiene 10 elementos
    El cluster 5 tiene 5 elementos
    El cluster 6 tiene 5 elementos
    Score para Cluster 3: 0.3333333333333333
    Score para Cluster 0: 0.3333333333333333
    Score para Cluster 6: 1.0
    Score para Cluster 1: 1.0
    Score para Cluster 5: 1.0
    Score para Cluster 4: 0.5
    Score para Cluster 2: 1.0
    Score Promedio: 0.738095238095238
Prueba con numero de clusters: 8
    El cluster 0 tiene 10 elementos
    El cluster 1 tiene 15 elementos
    El cluster 2 tiene 5 elementos
    El cluster 3 tiene 5 elementos
    El cluster 4 tiene 5 elementos
    El cluster 5 tiene 10 elementos
    El cluster 6 tiene 5 elementos
    El cluster 7 tiene 5 elementos
    Score para Cluster 3: 1.0
    Score para Cluster 7: 1.0
    Score para Cluster 6: 1.0
    Score para Cluster 1: 0.3333333333333333
    Score para Cluster 5: 0.5
    Score para Cluster 0: 0.5
    Score para Cluster 2: 1.0
    Score para Cluster 4: 1.0
    Score Promedio: 0.7916666666666667
Prueba con numero de clusters: 9
    El cluster 0 tiene 5 elementos
    El cluster 1 tiene 15 elementos
    El cluster 2 tiene 5 elementos
    El cluster 3 tiene 5 elementos
    El cluster 4 tiene 5 elementos
    El cluster 5 tiene 10 elementos
    El cluster 6 tiene 5 elementos
    El cluster 7 tiene 5 elementos
    El cluster 8 tiene 5 elementos
    Score para Cluster 4: 1.0
    Score para Cluster 0: 1.0
    Score para Cluster 8: 1.0
    Score para Cluster 7: 1.0
    Score para Cluster 1: 0.3333333333333333
    Score para Cluster 5: 0.5
    Score para Cluster 6: 1.0
    Score para Cluster 2: 1.0
    Score para Cluster 3: 1.0
    Score Promedio: 0.8703703703703703
Prueba con numero de clusters: 10
    El cluster 0 tiene 5 elementos
    El cluster 1 tiene 10 elementos
    El cluster 2 tiene 5 elementos
    El cluster 3 tiene 10 elementos
    El cluster 4 tiene 5 elementos
    El cluster 5 tiene 5 elementos
    El cluster 6 tiene 5 elementos
    El cluster 7 tiene 5 elementos
    El cluster 8 tiene 5 elementos
    El cluster 9 tiene 5 elementos
    Score para Cluster 0: 1.0
    Score para Cluster 3: 0.5
    Score para Cluster 8: 1.0
    Score para Cluster 6: 1.0
    Score para Cluster 1: 0.5
    Score para Cluster 5: 1.0
    Score para Cluster 9: 1.0
    Score para Cluster 4: 1.0
    Score para Cluster 7: 1.0
    Score para Cluster 2: 1.0
    Score Promedio: 0.9
Prueba con numero de clusters: 11
    El cluster 0 tiene 10 elementos
    El cluster 1 tiene 5 elementos
    El cluster 2 tiene 5 elementos
    El cluster 3 tiene 5 elementos
    El cluster 4 tiene 5 elementos
    El cluster 5 tiene 5 elementos
    El cluster 6 tiene 5 elementos
    El cluster 7 tiene 5 elementos
    El cluster 8 tiene 5 elementos
    El cluster 9 tiene 5 elementos
    El cluster 10 tiene 5 elementos
    Score para Cluster 4: 1.0
    Score para Cluster 0: 0.5
    Score para Cluster 8: 1.0
    Score para Cluster 10: 1.0
    Score para Cluster 2: 1.0
    Score para Cluster 6: 1.0
    Score para Cluster 1: 1.0
    Score para Cluster 5: 1.0
    Score para Cluster 9: 1.0
    Score para Cluster 7: 1.0
    Score para Cluster 3: 1.0
    Score Promedio: 0.9545454545454546
Prueba con numero de clusters: 12
    El cluster 0 tiene 5 elementos
    El cluster 1 tiene 5 elementos
    El cluster 2 tiene 5 elementos
    El cluster 3 tiene 5 elementos
    El cluster 4 tiene 5 elementos
    El cluster 5 tiene 5 elementos
    El cluster 6 tiene 5 elementos
    El cluster 7 tiene 5 elementos
    El cluster 8 tiene 5 elementos
    El cluster 9 tiene 5 elementos
    El cluster 10 tiene 5 elementos
    El cluster 11 tiene 5 elementos
    Score para Cluster 3: 1.0
    Score para Cluster 8: 1.0
    Score para Cluster 7: 1.0
    Score para Cluster 1: 1.0
    Score para Cluster 4: 1.0
    Score para Cluster 11: 1.0
    Score para Cluster 10: 1.0
    Score para Cluster 6: 1.0
    Score para Cluster 5: 1.0
    Score para Cluster 9: 1.0
    Score para Cluster 0: 1.0
    Score para Cluster 2: 1.0
    Score Promedio: 1.0

Cómo se puede ver, los resultados son muy similares a no utilizar embreddings. Pero si se mira el dataframe obtenido con embeddings puede verse que para los jobs de una misma empresa las componentes son practicamente iguales, muy cercanas, con lo cual si hay una variación dentro de los datos (como ruido por ejemplo), probablemente esta técnica podría ayudar mucho para descartar o filtrar este ruido o datos erróneos.

## Elementos mas cercanos al centro ##
Lo que se utiliza para el calculo de los elementos del cluster más cercanos al centro es la distancia coseno. Para esto se calcula la distancia entre cada elemento de cada cluster al centroide correspondiente, y luego se imprime el índice de los n más cercanos. Ahora el diccionario de los clusters en lugar de armarse con el dataframe original se armará con los valores a partir de los cuales se hizo la clusterización (todos categóricos) para poder calcular la distancia de los elementos de este diccionario. Luego con el índice siempre se puede volver al dataset original.

In [196]:
def row_to_dict(row):
    tmp_list = []
    tmp_list.append(row.company_name_id[row.company_name_id.index[0]])
    tmp_list.append(row.year_founded[row.year_founded.index[0]])
    tmp_list.append(row.zip_code[row.zip_code.index[0]])
    tmp_list.append(row.full_time_employees[row.full_time_employees.index[0]])
    tmp_list.append(row.company_category[row.company_category.index[0]])
    tmp_list.append(row.job_name[row.job_name.index[0]])
    return np.array(tmp_list)

def compute_distance(element1, element2):
    return 1 - spatial.distance.cosine(element1, element2)

In [197]:
num_clusters = 12

km = KMeans(n_clusters=num_clusters)
km.fit(df)

clusters = km.labels_.tolist()

# Get cluster assignment labels
labels = km.labels_

cat_dict = {}
for idx, label in enumerate(labels):
    if not str(label) in cat_dict.keys():
        cat_dict[str(label)] = []
        cat_dict[str(label)].append(df.loc[[idx]])
    else:
        cat_dict[str(label)].append(df.loc[[idx]])

In [198]:
n_near = 3 # n objetos mas cercanos al centroide para cada cluster.

for cluster in cat_dict:
    print("Cluster " + cluster)
    tmp_distance_list = []
    for element in cat_dict[cluster]:
        tmp_distance_list.append(compute_distance(row_to_dict(element), centroids[int(cluster)]))
    distance_array = np.array(tmp_distance_list)
    for near in distance_array.argsort()[-n_near:][::-1]:
        print(cat_dict[cluster][near].index[0])

Cluster 0
43
42
44
Cluster 8
30
34
32
Cluster 7
12
14
10
Cluster 1
50
54
53
Cluster 4
1
2
0
Cluster 11
22
20
21
Cluster 10
17
19
15
Cluster 6
25
28
26
Cluster 5
35
37
38
Cluster 9
5
7
8
Cluster 2
55
59
57
Cluster 3
46
45
49

Finalmente se ha obtenido para cada cluster el índice de los n jobs más cercanos al centroide correspondiente. Para obtener cualquiera de las features de cada uno de estos elementos basta con extraer la fila correspondiente del dataset original.

Decodificamos el dataset para poder ver las variables categoricas.

In [199]:
# Reversing encoding
df[column_name] = le_name.inverse_transform(df[column_name])
df[column_category] = le_category.inverse_transform(df[column_category])
df[column_job] = le_job.inverse_transform(df[column_job])
df

/anaconda3/lib/python3.5/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/anaconda3/lib/python3.5/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/anaconda3/lib/python3.5/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

,company_name_id,year_founded,zip_code,full_time_employees,company_category,job_name
0,accuweather,1962.0,16803.0,350.50,Environment & Weather,Data Scientist
1,accwea,1962.0,16803.0,350.50,Environment & Weather,Python Software Engineer
2,accuweather,1962.0,16803.0,350.50,Environment & Weather,Java Developer
3,accuweather,1962.0,16803.0,350.50,Environment & Weather,Cloud Engineer
4,,1962.0,16803.0,350.50,Environment & Weather,Data Scientist
5,allianz,1896.0,10019.0,10001.00,Finance & Investment,Data Scientist
6,allnz,1896.0,10019.0,10001.00,Finance & Investment,Python Software Engineer
7,allianz,1896.0,10019.0,10001.00,Finance & Investment,Java Developer
8,allianz,1896.0,10019.0,10001.00,Finance & Investment,Cloud Engineer
9,,1896.0,10019.0,10001.00,Finance & Investment,Data Scientist
10,amazon-web-services,2007.0,98109.0,1533.68,Data/Technology,Python Software Engineer
11,,2007.0,98109.0,1533.68,Data/Technology,Python Software Engineer
12,amazon,2007.0,98109.0,1533.68,Data/Technology,Java Developer
13,aws,2007.0,98109.0,1533.68,Data/Technology,Cloud Engineer
14,amazon-web-services,2007.0,98109.0,1533.68,Data/Technology,Data Scientist
15,citigroup,1812.0,10022.0,10001.00,Finance & Investment,Cloud Engineer
16,citigroup,1812.0,10022.0,10001.00,Finance & Investment,Python Software Engineer
17,citi,1812.0,10022.0,10001.00,Finance & Investment,Java Developer
18,,1812.0,10022.0,10001.00,Finance & Investment,Cloud Engineer
19,citigroup,1812.0,10022.0,10001.00,Finance & Investment,Data Scientist
20,fujitsu,1935.0,94089.0,10001.00,Data/Technology,Data Scientist
21,fujitsu,1935.0,94089.0,10001.00,Data/Technology,Python Software Engineer
22,fujtsu,1935.0,94089.0,10001.00,Data/Technology,Java Developer
23,fujitsu,1935.0,94089.0,10001.00,Data/Technology,Cloud Engineer
24,,1935.0,94089.0,10001.00,Data/Technology,Data Scientist
25,garmin,1989.0,66062.0,7500.50,Geospatial/Mapping,Data Scientist
26,garmin,1989.0,66062.0,7500.50,Geospatial/Mapping,Python Software Engineer
27,gmin,1989.0,66062.0,7500.50,Geospatial/Mapping,Java Developer
28,garmin,1989.0,66062.0,7500.50,Geospatial/Mapping,Cloud Engineer
29,,1989.0,66062.0,7500.50,Geospatial/Mapping,Data Scientist
30,git,2008.0,94107.0,350.50,Data/Technology,Cloud Engineer
31,github,2008.0,94107.0,350.50,Data/Technology,Python Software Engineer
32,github,2008.0,94107.0,350.50,Data/Technology,Java Developer
33,,2008.0,94107.0,350.50,Data/Technology,Cloud Engineer
34,github,2008.0,94107.0,350.50,Data/Technology,Data Scientist
35,ibm,1912.0,0.0,10001.00,Data/Technology,Data Scientist
36,ibm,1912.0,0.0,10001.00,Data/Technology,Python Software Engineer
37,ibm,1912.0,0.0,10001.00,Data/Technology,Java Developer
38,ibm,1912.0,0.0,10001.00,Data/Technology,Cloud Engineer
39,,1912.0,0.0,10001.00,Data/Technology,Data Scientist
40,mlife,1868.0,10166.0,10001.00,Insurance,Cloud Engineer
41,metlife,1868.0,10166.0,10001.00,Insurance,Python Software Engineer
42,metlife,1868.0,10166.0,10001.00,Insurance,Java Developer
43,,1868.0,10166.0,10001.00,Insurance,Cloud Engineer
44,metlife,1868.0,10166.0,10001.00,Insurance,Data Scientist
45,uber,2009.0,94105.0,3000.50,Transportation,Java Developer
46,ubr,2009.0,94105.0,3000.50,Transportation,Python Software Engineer
47,,2009.0,94105.0,3000.50,Transportation,Java Developer
48,uber,2009.0,94105.0,3000.50,Transportation,Cloud Engineer
49,uber,2009.0,94105.0,3000.50,Transportation,Data Scientist
50,yahoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,Java Developer
51,yhoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,Python Software Engineer
52,,1994.0,94089.0,10001.00,Lifestyle & Consumer,Java Developer
53,yahoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,Cloud Engineer
54,yahoo,1994.0,94089.0,10001.00,Lifestyle & Consumer,Data Scientist
55,zurich,1912.0,60196.0,10001.00,Insurance,Cloud Engineer
56,zurich-insurance-risk-room,1912.0,60196.0,10001.00,Insurance,Python Software Engineer
57,zurich-insurance-risk-room,1912.0,60196.0,10001.00,Insurance,Java Developer
58,,1912.0,60196.0,10001.00,Insurance,Cloud Engineer
59,zurich-insurance-risk-room,1912.0,60196.0,10001.00,Insurance,Data Scientist

Ahora se genera un Json que será levantado por la UI con los clusters calculados. (Este Json debe generarse con los resultados del modelo que interese levantar.)

In [200]:
jobs_by_companies_dict = {}
jobs_by_companies_list = []
anonymous_jobs_total = []

for idx, cluster in enumerate(clusters_dict):
    jobs_list = []
    anonymous_jobs = []
    company_name = ''
    description = ''
    description_short = ''
    industry = ''
    for job in clusters_dict[cluster]:
        if job.company_name_id[job.index.values[0]] != ' ':
            job_tmp_dict = {'job_name': job.job_name[job.index.values[0]],
                            'job_id': str(job.job_id[job.index.values[0]])
                           }
            jobs_list.append(job_tmp_dict)
            company_name = job.company_name_id[job.index.values[0]]
            description = job.description[job.index.values[0]]
            description_short = job.description_short[job.index.values[0]]
            industry = job.company_category[job.index.values[0]]
        else:
            job_an_tmp_dict = {'job_name': job.job_name[job.index.values[0]],
                               'job_id': str(job.job_id[job.index.values[0]]),
                               'suggested_company': '',
                               'description_short':job.description_short[job.index.values[0]]
                              }
            anonymous_jobs.append(job_an_tmp_dict)
    company_tmp_dict = {'company_name_id': company_name, 'description': description,
                        'company_id': str(idx), 'jobs': jobs_list, 
                        'description_short': description_short, 'industry': industry}
    for anony_job in anonymous_jobs:
        anony_job['suggested_company'] = company_name
    
    anonymous_jobs_total += anonymous_jobs
    
    jobs_by_companies_list.append(company_tmp_dict)

jobs_by_companies_dict = {'companies': jobs_by_companies_list, 'anonymous': anonymous_jobs_total}

In [201]:
with open('jobs_by_company.json', 'w') as outfile:
    json.dump(jobs_by_companies_dict, outfile)